.upload-id-files{
    border: 2px dashed #55606E;
    text-align: center;
    padding-bottom: 30px;
    position: relative;
    
    &::before{
        content: "\E14D";
        display: block;
        font-size: 120px;
        font-family: 'Material Icons';
        text-align: center;
        vertical-align: middle;
    }
    
    .points{
        color: #bfbbbb;
        font-size: 18px;
        text-align: center;
    }
    
    input[type="file"] {
        position: absolute;
        top: 0;
        opacity: 0;
        height: 100%;
        width: 100%;
        cursor: pointer;
    }
    .btn{
        background-color: #3E3E3E;
        color: #fff;
        
        .zmdi-plus-square {
            font-size: 30px;
            vertical-align: middle;
            padding-right: 10px;
        }
    }
}