// The "OR" divider in the Address section
.bootstrapWizard { 
    width: 100%;

    li a {
    	font-size: 12px;
    	span { display: block; }
    } 
}


.divider{
    &:after{
        width: 30%;
    }
}