.ui-datepicker{
	background: #fff;
	padding: 0;
	
	//@include box-shadow(1px 1px 4px rgba(0,0,0,0.2));

	.ui-datepicker-header{
		background: $brand-red;
		padding: 8px 0;
		.ui-datepicker-title{
			text-align: center;
		}

		.ui-datepicker-prev,
		.ui-datepicker-next{
			display: none;
		}



		select{
			padding: 2px 5px;
			border: none;
		}

		select:first-of-type{
			margin-right: 10px;
		}
	}

	.ui-datepicker-calendar{
		border: 1px solid $page-header-border-color;
		display: block;
		padding: 10px;

		thead th{
			padding: 5px;
			text-align: center;
		} 

		td{
			text-align: center;
			width: 30px;
			height: 25px;
		}

		td:hover{
			background: $brand-red;
			@include border-radius(3px);
		}

		td:hover a{
			color: #fff;
			text-decoration: none;
		}

		td a{
			color: $gray-darker;
			padding: 0 10px;
			display: inline-block;
		}


	}
}