/*Start Wizard*/

.bootstrapWizard {
    //display: block;
    list-style: none;
    padding: 0;
    position: relative;
    margin: auto;
    @include clearfix();

    $circle-dim: 19px;
    $b-wdith: 3px;
    
    li {
        display: block;
        width: 20%;
        float: left;
        min-height: $circle-dim;
        position: relative;

        a {
            color: $gray;
            display: block;
            min-height: $circle-dim;
            text-align: center;
            font-size: 14px;

            &:hover, &:active, &:focus {
                text-decoration: none;
                cursor: not-allowed;
            }

            span {
                display: block;
                margin-top: 5px;
            }

            &:before, &:after {
                display: block;
                content: '';
            }

            &:before {
                width: $circle-dim - $b-wdith;
                height: $circle-dim - $b-wdith;
                margin: auto;
                border: $b-wdith solid $gray-lighter;
                background-color: lighten($gray,10%);
                @include border-radius($circle-dim - $b-wdith);
            }
        }

        // Mouse Cursor state if Active or Done
        &.done a:hover,
        &.active a:hover{
            cursor: pointer;
            color: darken($gray,30%);
        }

        // Mouse Cursor state if section is still pending
        &.active, &.done {
            > a:before {
                background-color: $brand-primary;
            }

            &:hover > a:before {
                background-color: darken($brand-primary,5%);
            }
        }

        //
        &.active {
            span {
                font-weight: 500;
                color: $gray-darker;
            }
        }

        &.done {
            + li {
                > a:hover { cursor: pointer; }
                > a:after {
                    display: block;
                    content: '';
                    position: absolute;
                    width: 100%;
                    height: 0.20em;;
                    left: -50%;
                    right: auto;
                    top: 0.5em;
                    background-color: $brand-primary;
                }

                > a:before {
                    background-color: $brand-primary;
                }
            }

            &:first-child > a:after { display: none; }
        }
    }
}

.wizard-steps {
    margin-bottom: 15px;
}

.wizard-actions {
    display: block;
    list-style: none;
    padding: 0;
    position: relative;
    width: 100%;
    li {
        display: inline;
    }
}

.tab-content.transparent {
    background-color: transparent;
}

.carousel-inner {
    .item div[class^="col-"] {
        min-height: 100px;
    }
}


/*End Wizard*/