@import '../../bootstrap/_variables.scss';
@import '../../bootstrap/mixins/';

@import "step-by-step";

// style for contact number with flag input
@import 'intlTelInput';

@import 'bootstrap-datetimepicker';

// style for your details page

// set a minimum to btn-group btn
.btn-group{
	.btn{
		min-width: 100px;
	}
} 

// style for your details page

h2{
	font-weight: lighter;
}

#postalAddressForm{ 
	h2{
		margin-top: 0;
	}
}

@import "320";

@media screen and (min-width: 568px) {
    @import "568";
}
@media screen and (min-width: 768px) {
    @import "768";
}
@media screen and (min-width: 1024px) {
    @import "1024";
}
@media screen and (min-width: 1200px) {
    @import "1200";
}