.container-two-column-split {
	*[class^='section-'], *[class*='section-']{
		position: relative;
		float: left;
		display: block;
		min-height: 1;
	}

	.section-main {
		@media (max-width: $screen-xs-max) {
			width: 100%;
		}
		@media (min-width: $screen-sm-min) {
			&.col-section-10 { width: 100%; }
			&.col-section-4 { width: 40%; }
			&.col-section-5 { width: 50%; }
			&.col-section-6 { width: 60%; }
			&.col-section-0 { width: 0; }

			& + .section-main {
				padding-left: $grid-gutter-width/4;
			}
		}
	}
}