<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags always come first -->	
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable= no, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
	<title>GQ - RPL Login</title>
    <link rel="stylesheet" href="/public/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/public/css/bootstrap-flex.css" />
    <link rel="stylesheet" href="/public/css/bootstrap-grid.css" />
    <link rel="stylesheet" href="/public/css/bootstrap-reboot.css">
    <link rel="stylesheet" href="/public/css/pages/all/login.css">  
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700,800' rel='stylesheet' type='text/css'>
    
           </head>
<body>
    <main class="main_container">	
        <div class="body_section login_page">
            <div class="login_section">
                <div class="gqa_logo">				
                    <img src="/public/images/logo.png" alt="gqa-logo" class="hidden-xs"/>
                    <img src="/public/images/loginlogo.png" alt="gqa-logo" class="hidden-sm hidden-md hidden-lg"/>
                </div>
                <div>The requested page couldn't be located.<br/> <a href="/login" style='color:#FFF;text-decoration:underline;'>Click here</a> to login to your Online RPL account.</div>
            </div>
        </div>

    </main>
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="/public/js/bootstrap.min.js"></script>
	<script src="/public/js/jquery.validate.js"></script>
   <!-- jQuery first, then Bootstrap JS. -->
<script src="/public/js/jquery.min.js"></script>
<script src="/public/js/bootstrap.min.js"></script>
<script src="/public/js/script.js"></script>
    
      </body>
</html>