{% extends 'base.html.twig' %}
{% block title %}GQ - RPL Messages Compose{% endblock %}
{% block body %}
<div class="body_section message_section">
		<div class="container">
			<div class="row">			
				{% include 'GqAusUserBundle:Message:leftmenu.html.twig' %}
                                                            
                                <div class="new_message_section">
						<div class="title_bar">NEW MESSAGE
							<span><i class="material-icons close">close</i></span>
						</div>
						<div class="new_msg_section">
							<form>
								<div class="input_section">
									<label>To:</label>
									<input type="text"/>
								</div>
								<div class="input_section">
									<label>Subject:</label>
									<input type="text"/>
								</div>
								<textarea></textarea>
							</form>
						</div>
						<div class="btn_section">
							<a href="javascript:void(0)" class="cancel_link hidden-xs">CANCEL</a>
							<a href="javascript:void(0)" class="send_link">SEND
								<i class="material-icons send">send</i>
							</a>
						</div>
					</div>

</div>
		</div>
	</div>
	
<div class="plus_icon hidden-sm hidden-md hidden-lg">
	<i class="material-icons add">add</i>
</div>
{% endblock %}