$evidence-library-width: 250px;
$evidence-library-width-sm: $evidence-library-width - 50;

@mixin padding() {
	@media (max-width: $screen-xs-max) {
		padding: 15px 10px;
	}
	@media (min-width: $screen-sm-min) {
		padding: 30px;	
	}
}

.evidence-controls {
	@include clearfix();
	position: relative;

	.btn {
		float: left !important;
		display: inline-block !important;
		
	}

	@media screen and (max-width: $screen-xs-min){
		.btn{
			padding-left: 0;
			padding-right: 0;
		}
	}
	@media screen and  (min-width: $screen-xs-min){
		.checkbox-control{
			.btn{
				padding-left: 7px;
				padding-right: 7px;
			}

		}
	}


	.divider {
	    display: block;
	    float: left;
	    position: relative;
	    width: 1px;
	    height: 30px;
	    background-color: #e6e6e6;
	    margin: 5px;
	    margin-left: 10px;
	    margin-right: 10px;
	}

	.checkbox-control {
		margin: 3px 5px 0 0;
		border-right: 1px solid $gray-lighter;
		padding: 5px 15px 5px 0;
		label { margin-bottom: 0; }
	}

	.input-group-custom {
		float: right;
		margin-top: -8px;
	}

	> .btn {
		float: right;
	}

	& + .thumbnail-group {
		margin-top: 15px;
		display: block;
	}
}

.panel-evidence-library {
	.panel-evidence-library-heading {
		position: relative;
		@include padding();
		@include clearfix();
		border-bottom: 1px solid $gray-lighter;

		.panel-evidence-library-htext {
			float: left;
			@include calc-sub-two-values(width, 100%, 186px);
		}
		.btn-upload-evidence {
			position: relative;
			float: right;
			margin-top: 7px;
		}
	}
	.panel-evidence-controls {
		@include padding();


	}
	.panel-evidence-library-body {
		border-radius: $panel-border-radius;
		background-color: white;
		@include clearfix();
		position: relative;

		min-height: 530px;

		.panel-evidence-library-menu {
			@media (max-width: $screen-xs-max) {
				top: $navbar-height;
				left: 0;
				right: 0;
				display: none;
				position: fixed;
			}
			@media (min-width: $screen-sm-min) {
				top: 0;
				position: absolute;
				width: $evidence-library-width-sm;
				border-right: 1px solid $gray-lighter;
				border-bottom-left-radius: $panel-border-radius;
				padding-bottom: 40px;
			}
			@media (min-width: $screen-md-min) {
				width: $evidence-library-width;	
			}
			
			bottom: 0;
			z-index: 30;
			background-color: rgba(255,255,255,0.8);
			
			&:before {
				text-transform: uppercase;
				font-weight: 500;
				color: $gray-light;
				display: block;
				padding: 40px 30px 15px 30px;
			}
		}
		

		.panel-evidence-library-content {
			@include padding();
			@media (max-width: $screen-xs-max) {
				width: 100%;
			}
			@media (min-width: $screen-sm-min) {
				@include calc-sub-two-values(width, 100%, $evidence-library-width-sm);
				margin-left: $evidence-library-width-sm;
			}
			@media (min-width: $screen-md-min) {
				@include calc-sub-two-values(width, 100%, $evidence-library-width);
				margin-left: $evidence-library-width;
			}

			position: relative;
			float: left;
			border-bottom-right-radius: $panel-border-radius;
		}
	}

	.evidence-controls {
		height: 36px;
		.evidence-toggle-view{
			float: left;
		}
		.btn-group{
			float: left;
		}
		.dropdown {
			> .btn {
				padding: 8px 12px;
			}
		}
		@media (max-width: $screen-xs-min) {
			.dropdown > .btn{ padding: 8px 0px 8px 5px; }
			> .btn-group > .btn, 
			.evidence-toggle-view > .btn-group > .btn {
				padding-right: 0;

				padding-left: 0;

			}
			.divider { margin-left: 1px; margin-right: 1px; }

			.evidence-controls-label { font-size: 12px; }
		}
	}

	.evidence-controls-label {
		color: $gray;
		line-height: 1;
	}

	.evidence-toggle-view {
		.evidence-controls-label {
			display: block;
			float: left;
			position: relative;
			margin: 9px;
			margin-top: 12px;
		}
	}

	.panel-evidence-filters {
		@media (max-width: 320px) {
			position: absolute;
			right: 0;
		}
		float: left;
	}
}

.panel-evidence-library-menu, .panel-aside {
	[data-toggle="buttons"] {
		.btn {
			border-radius: 0;
			border: none;
			text-align: left;
			width: 100%;
			font-weight: 400;
			font-size: 1.1em;
			white-space: normal;
			word-break: break-word;
			margin: 0 !important;
			color: $gray-dark;
			padding: 15px 30px;

			// @media (max-width: $screen-sm-max) {
			// 	padding: 15px 30px;
			// }
			// @media (min-width: $screen-md-min) {
			// 	padding: 15px 30px;
			// }

			&:hover {
				background-color: lighten($gray-lighter,5%);
				@include box-shadow(6px 0 0 0 $gray inset);
			}

			&.active {
				font-weight: 500;
				@include box-shadow(6px 0 0 0 $brand-bluegreen inset);
			}
		}
	}
}

.panel-evidence-search {
	@media (max-width: $screen-xs-max ) {
		position: relative;
		width: 100%;
	}
	@media (min-width: $screen-sm-min) {
		position: relative;
		width: 100%;
	}
	@media (min-width: $screen-sm-min + 50) {
		width: 180px;
		top: 20px;
		right: 30px;
		position: absolute;
		z-index: 10;
	}
	@media (min-width: $screen-sm-min + 150 ) {
		width: 30%;
	}
	@media (min-width: $screen-md-min ) {
		width: 35%;
	}
	display: block;
	clear: both;

	.input-group-search {
		margin-bottom: 15px;
		.form-control {
			padding-left: 30px;
		}
		.icon {
			position: absolute;
			top: 9px;
			left: 0;
		}
	}
}

.dropdown-evidence-filter {
	position: relative;
	float: left;

	.dropdown-menu {
		min-width: 100%;
		overflow: hidden;
		.btn {
			position: relative;
			display: block;
			width: 100%;
			border: none;
			border-radius: 0;
			margin: 0;
			@include box-shadow(none);
			text-align: left;

			&:hover {
				border: none;
				@include box-shadow(none);
			}

			&:not(.active) {
				background-color: white;
				&:hover { background-color: $dropdown-link-hover-bg; }
			}
		}
	}
}

.form-link-units {
	@include clearfix();
	.input-control {
		@include calc-sub-two-values(width,100%,115px);
		float: left;
		display: block;
		position: relative;

		& + .btn {
			float: right;
		}
	}
}

.table-link-units {
	tr > td {
		vertical-align: middle !important;
		&:first-child {
			padding-left: 0;
			@include calc-sub-two-values(width,100%,85px);
		}
		&:last-child {
			width: 85px;
			padding: 0;
			text-align: center;
		}
	}
}

.indicator-storage {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 15px 15px 15px 40px;
    height: 38px;
    color: $gray;
    background: #f3f3f3;
    border-bottom-left-radius: $border-radius-base;

    > * { line-height: 1; margin: 0; font-weight: 500; font-size: 12px; }

    .zmdi {
    	position: absolute;
    	top: 9px;
    	left: 5px;
    	font-size: 1.75em;
    }
}

.is-mobile .evidence-controls .checkbox-control {
	margin: 6px 0px 0 0;
	padding: 10px 0px 10px 0;
}