@import '../bootstrap/mixins/_progress-bar';

progress[role] {

    $width: 200px;
    $height: 5px;

    display: inline-block;
    position: relative;
    width: $width;
    height: $height;
    vertical-align: -.2em;
    border: none;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
    background: $progress-bg;

    .fallback {
        height: $height;
        position: absolute;
        top: 0;
        left: 0;
    }


    /* Chrome */
    &::-webkit-progress-bar { background: $progress-bg !important; }

    &[aria-valuenow]:before {
        content: "";
        display: block;
        height: 100%;
    }

    /* Overlay */
    &:after {
        content: "";
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background: none;
    }

    & strong { display: none; }
}

.progress {
    position: relative;
    width: auto;
    margin-bottom: 15px;

    .progress-details {
        font-size: 1em;
        text-transform: uppercase;
        font-weight: 400;
        margin-top: 10px;

        &:before {
            content: attr(data-value) + attr(data-unit);
            display: block;
            position: relative;
            font-size: 2em;
            font-weight: 300;
            clear: both;
            line-height: 1;
            color: inherit;
        }
    }
}

.progress-tag-default progress { 
    @include progress-tag-variant($progress-bar-bg);
}
.progress-tag-success progress { 
    @include progress-tag-variant($progress-bar-success-bg);
}
.progress-tag-warning progress { 
    @include progress-tag-variant($progress-bar-warning-bg);
}
.progress-tag-danger progress { 
    @include progress-tag-variant($progress-bar-danger-bg);
}