.modal {
  text-align: center;
  padding: 0!important;
}

.modal:before {
  content: '';
  display: inline-block;
  height: auto;
  vertical-align: middle;
  margin-right: -4px;
}

.modal-dialog {
  display: inline-block;
  text-align: left;
  vertical-align: middle;
}     
.confirm_popup .modal-dialog {
    width: 100%;
}
.confirm_popup .modal-content {
    border-radius: 0;
}
.confirm_popup .modal-header {
    border: 0;
}
.confirm_popup .close {
    opacity: 1;
    font-size: 30px;
    font-weight: normal;
}
.confirm_popup .modal-header .modal-title {
    font-size: 16px;
}
.confirm_popup .btn_section {
    margin: 0 auto;
    text-align: center;
}
.confirm_popup .btn_section .btn {
    border-radius: 0;
    width: auto;
}
.confirm_popup .btn_section .btn.btn_red {
    border: 1px solid #E01010;
    background-color: #E01010;
    color: #fff;
    margin-right: 10px;
}
@media screen and (min-width: 568px){
.confirm_popup .modal-dialog {
    width: 450px;
}
}
