<thead>
	<tr>
		<th><span class="">Name</span></th>
		<th><span class="">Qualification Name</span></th>
		<th><span class="">Status </span></th>
	</tr>
</thead>

            
                        
                        
                        
        