<thead>
    <tr>
        <th><span class="">Name</span></th>
        <th><span class="">Qualification Name</span></th>
        {% if ('ROLE_ASSESSOR' in userRole) %}
            <th><span class="">Facilitator Approved On</span></th>
        {% endif%}
        {% if ('ROLE_RTO' in userRole) %}
        <th><span class="">Assessor Approved On</span></th>
        {% endif%}
        <th><span class="">Approved On</span></th>
        <th colspan="2"><span class="">Status</span></th>
    </tr>
</thead>
			
                        
                        
                        
		