<thead>
    <tr>
        <th width="25%"><span class="">Name</span></th>
        <th width="75%" colspan="2"><span class="">Qualification Name</span></th>
    </tr>
</thead>
			
                        
                        
                        
		