<thead>
    <tr>
        <th><span class="">Name</span></th>
        <th colspan="2"><span class="">Qualification Name</span></th>
    </tr>
</thead>
			
                        
                        
                        
		