<thead>
    <tr>
        <th ><span class="">NAME</span></th>
        <th {% if ('ROLE_RTO' in userRole) %}  {% elseif (('ROLE_MANAGER' in userRole) or ('ROLE_SUPERADMIN' in userRole)) %} {% else %}  {% endif %} ><span class="">QUALIFICATION</span></th>
        
       
        {% if ('ROLE_FACILITATOR' in userRole) or ('ROLE_ASSESSOR' in userRole) %}
        <th ><span class="">Evidence</span></th>        
         {% endif %}
        {% if ('ROLE_FACILITATOR' in userRole) or ('ROLE_ASSESSOR' in userRole)  or ('ROLE_RTO' in userRole)%}
        <th class="sort-by"><span class="">DAYS LEFT</span></th>
        {% endif %}
        {% if ('ROLE_RTO' not in userRole) %}
        <th><span class=""> Status </span></th>        
        {% endif %}
        {% if ('ROLE_FACILITATOR' in userRole) or ('ROLE_ASSESSOR' in userRole) %}
        <th ><span class="">To Do</span></th>
        {% endif %}
        {% if ('ROLE_MANAGER' in userRole)%}
        <th ><span class="">Assign</span></th>
        {% endif %}
    </tr>
</thead>