<thead>
    <tr>
        <th><span class="">Name</span></th>
        <th {% if ('ROLE_FACILITATOR' in userRole) or ('ROLE_RTO' in userRole) %} colspan="2" {% endif %}><span class="">Qualification Name</span></th>
        {% if ('ROLE_FACILITATOR' in userRole) or ('ROLE_ASSESSOR' in userRole) %}
        <th><span class="">Evidence Completeness (%)</span></th>
        <th><span class="">Notes &#47; Reminders</span></th>
        <th colspan="2"><span class="">Remaining Time</span></th>
        {% endif %}
    </tr>
</thead>
			
                        
                        
                        
		