<thead>
    <tr>
        <th {% if (('ROLE_MANAGER' in userRole) or ('ROLE_SUPERADMIN' in userRole)) %} {% else %}class="sort" data-sort="firstName" {% endif %}><span class="">NAME</span></th>
        <th {% if ('ROLE_RTO' in userRole) %}  {% elseif (('ROLE_MANAGER' in userRole) or ('ROLE_SUPERADMIN' in userRole)) %} {% else %}} class="sort" data-sort="qualification"  {% endif %}  ><span class="">QUALIFICATION</span></th>
        
       
        {% if ('ROLE_FACILITATOR' in userRole) or ('ROLE_ASSESSOR' in userRole) %}
        <th  class="sort" data-sort="evidence" ><span class="">Evidence</span></th>        
         {% endif %}
        {% if ('ROLE_FACILITATOR' in userRole) or ('ROLE_ASSESSOR' in userRole)  or ('ROLE_RTO' in userRole)%}
        <th class="sort asc" data-sort="daysleft"><span class="">DAYS LEFT</span></th>
        {% endif %}
        {% if ('ROLE_RTO' not in userRole) %}
        <th {% if (('ROLE_MANAGER' in userRole) or ('ROLE_SUPERADMIN' in userRole)) %} {% else %} class="sort" data-sort="status" {% endif %} ><span class=""> Status </span></th>        
        {% endif %}
        {% if ('ROLE_FACILITATOR' in userRole) or ('ROLE_ASSESSOR' in userRole) %}
        <th><span class="">To Do</span></th>
        {% endif %}
        {% if ('ROLE_MANAGER' in userRole)%}
        <th><span class="">Account Manager</span></th>
        <th><span class="">Assessor</span></th>
        <th><span class="">Rto</span></th>
        {% endif %}
    </tr>
</thead>