{% extends 'base.html.twig' %}
{% block title %}GQ - RPL Applicant Lists{% endblock %}
{% block stylesheets %}

{% endblock %}
{% block body %}

{% set userRole = app.security.getToken().getUser().getRoles() %}
<div class="col-lg-11 col-md-10 col-sm-10 col-xs-12 gq-dashboard-right">
    <div class="row">
        <div class="col-lg-8 col-md-8 col-sm-8 col-xs-12">
            <h1 class="gq-dashboard-title">Applicant Lists</h1>
            <h6 class="gq-dashboard-title-desc"></h6>
        </div>
    </div>
    
    <div id="err_msg"></div>
    
    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 colxs-12">
            <div class="col-xs-12"> <!-- class "gq-dashboard-bg-img3" added for background image -->
                <div class="gq-dashboard-courses-detail-wrap">
                    <div class="gq-dashboard-tabs margin-top15">
                        <!-- Tabs start here -->
                        <div class="gq-dashboard-tabs-header wid30p">
                            <ul class="nav nav-pills nav-justified" role="tablist" id="myTab">
                                <li role="presentation" id="applicantPending" class="active"><a href="#current" aria-controls="current" role="tab" data-toggle="tab">Pending</a></li>
                                <li role="presentation" id="applicantCompleted"><a href="#completed" aria-controls="completed" role="tab" data-toggle="tab">Approved</a></li>                                
                            </ul>
                        </div>
                        
                         <!-- Filter start here -->
                        <br><br><br><br><br>
                        <div>
                            <input type="text" name="searchName" id="searchName">
                            <a id="searchFilter">search</a>
                            <select name="timeRemaining" id="timeRemaining">
								<option value=""></option>
                                <option value="1">1 Week</option>
                                <option value="2">2 Week</option>
                                <option value="4">4 Week</option>
                                <option value="5">5 Week</option>
                                <option value="11">11 Week</option>
                            </select>
                        </div>
                        <br><br><br><br><br>
                        <!-- Filter end here -->
                        
                        
                        <!-- Tabs end start here -->
                        <!-- Content for respective tabs above will be in this section -->
                        <div class="tab-content">
                          <div role="tabpanel" class="tab-pane active" id="current">
                            {% include 'GqAusUserBundle:Applicant:applicantsFilters.html.twig' %}
                            <div class="row" id="currentList">
                                {% include 'GqAusUserBundle:Applicant:applicants.html.twig' %}
                            </div>
                          </div>
                          <div role="tabpanel" class="tab-pane" id="completed">
                            {% include 'GqAusUserBundle:Applicant:applicantsFilters.html.twig' %}
                            <div class="row" id="completedList">
                                {% include 'GqAusUserBundle:Applicant:applicants.html.twig' %}
                            </div>
                          </div>
                        </div>
                    </div>
                </div>
                <span class="flip-icon"></span>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block javascripts %}
<script type="text/javascript">
$(document).ready(function() {
    $( ".datepic" ).datepicker();
});
</script>
{% endblock %}