{% extends 'base.html.twig' %}
{% block title %}GQ - RPL Applicant Lists{% endblock %}
{% block stylesheets %}
<link rel="stylesheet" href="{{ asset('public/css/timepicker.css') }}" />
{% endblock %}
{% block body %}

{% set userRole = app.security.getToken().getUser().getRoles() %}
 <!-- Larg Screens HTML Start -->
        
        <section class="portfolio-container hidden-xs">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="panel-group">
                            <div class="panel">
                                <div class="panel-heading clearfix">
                                    <h4 class="panel-title">
                                        <span>Portfolios </span><span class="count"> () </span>
                                    </h4>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-12">
                        <div class="container">
                            <div class="portfolio-filter">
                                <div class="row">
                                    <div class="col-md-8 col-lg-8">
                                        <form action="#" class="filter">
                                            <input type="text" value="" class="search-box" placeholder="Search"/>
                                        </form>
                                    </div>
                                    <div class="col-md-2 col-lg-2" {% if ('ROLE_RTO' in userRole) %} style="display:none;" {% endif %}>
                                        <div class="status active">
                                            <a href="#"><span>Current</span></a>
                                        </div>
                                    </div>
                                    <div class="col-md-2 col-lg-2" {% if ('ROLE_RTO' in userRole) %} style="display:none;" {% endif %}>
                                        <div class="status in-active">
                                            <a href="#"><span>Completed</span></a>
                                        </div>                                    
                                    </div>
                                </div>                            
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-12">
                        <div class="container">
                            <div class="portfolio-data-table">
                                <table class="table">
                                  {% include 'GqAusUserBundle:Applicant:applicantsFilters.html.twig' %}
                                    <tbody>
                                        {% include 'GqAusUserBundle:Applicant:applicants.html.twig' %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>            
            </div>
        </section>
        
        <!-- Larg Screens HTML End -->
{% endblock %}

{% block javascripts %}
    <script src="{{ asset('public/js/timepicker.js') }}"></script>    
    <script type="text/javascript">
        $(document).ready(function() {
            var dateTime = new Date();
            var utc = dateTime.getTime() + (dateTime.getTimezoneOffset() * 60000);
            var timeZoneDT = new Date(utc + (3600000 * +10));
            $(".datepic").datetimepicker({
                dateFormat: "dd/mm/yy",
                timeFormat: "hh:mm tt",
                minDate: timeZoneDT,
                minDateTime: timeZoneDT
            });
        });
    </script>
{% endblock %}