{% extends 'main.html.twig' %}
{% block title %}GQ - RPL Forgot password{% endblock %}
{% block content %}
   <div class="row text-center">
        <h3>Forgot Password?</h3>
        <p>Enter your e-mail address below to reset your password. </p>
    </div>
    <div class="row">
      
        <div class="gq-well" style="display:none;">
            <div class="gq-well well gq-id-files-upload-success-text">
                <span class="login-warning-icon" aria-hidden="true"></span>
                <div class="login-warning-text">{{message}}</div>
            </div>
        </div>
        
	<div class="gq-change-profile-warning" id="change_pwd_error"></div>	
        <form name="frmPassword" id="frmPassword" method="post">
          <div class="form-group">
            <input type="email" name = 'email' class="form-control email" id="InputEmail1" placeholder="Email">
          </div>
          <div class="row">
            <div class="col-xs-4 pull-left">
                <a href="login" class="btn btn-white margin-top15">Back</a>
            </div>
            <div class="col-xs-4 pull-right">
                <button type="submit" class="btn btn-red margin-top15" onclick="return forgotValidate();">Submit</button>
            </div>
          </div>
                      
                      
        </form>
    </div>
{% endblock %}

{% block javascripts %}
     <script>
        // When the document is ready
        $(document).ready(function() {
            $(".gq-id-files-upload-success-text").delay(3000).fadeOut(100);
        });
        var base_url = "{{ base_url }}";
        function forgotValidate()
        {
            var useremail = $("#InputEmail1").val();
            var startdiv = '<div class="gq-id-files-upload-error-text"><h2><img src="' + base_url + 'public/images/login-error-icon.png">';
            var enddiv = '</h2></div>';
            regexp=/^[a-zA-Z0-9][\w\.-]*[a-zA-Z0-9]@[a-zA-Z0-9][\w\.-]*[a-zA-Z0-9]\.[a-zA-Z][a-zA-Z\.]*[a-zA-Z]$/;
            if(useremail=="") {
                $("#change_pwd_error").show();
                $("#change_pwd_error").html(startdiv + "Please enter Email" + enddiv).delay(3000).fadeOut(100);
                $("#InputEmail1").focus();    
                return false;
            }
            else {
                if(useremail.search(regexp)==-1) {
                    $("#change_pwd_error").show();
                    $("#change_pwd_error").html(startdiv + "Please enter valid Email" + enddiv).delay(3000).fadeOut(100);
                    $("#InputEmail1").val('');
                    $("#InputEmail1").focus();
                    return false;
                }
            }
         }
    </script>
        {% if message == 0 or message == ""%}
         <script>
            $("#change_pwd_error").show();
            $("#change_pwd_error").html('<div class="gq-id-files-upload-error-text"><h2><img src="' + base_url + 'public/images/login-error-icon.png">There is no user with this email address. Please try again</h2></div>').delay(3000).fadeOut(100);
        </script>
        {% elseif message == 1 %}
         <script>
            <div class="gq-id-files-upload-success-text" style="display: block;">
                   <h2><img src="/public/images/tick.png">
                   Profile updated successfully!</h2>
               </div>
            $("#change_pwd_error").show();
            $("#change_pwd_error").html('<div class="gq-id-files-upload-success-text"><h2><img src="' + base_url + 'public/images/tick.png">A request for password reset is sent to this address</h2></div>').delay(3000).fadeOut(100);
        </script>
    {% endif %}
{% endblock %}