{% extends 'main.html.twig' %}
{% block title %}GQ - RPL Forgot password{% endblock %}
{% block content %}
   <div class="row text-center">
        <h3>Forgot Password?</h3>
        <p>Enter your e-mail address below to reset your password. </p>
    </div>
    <div class="row">
      
        <div class="gq-well" style="display:none;">
            <div class="gq-well well">
                <span class="login-warning-icon" aria-hidden="true"></span>
                <div class="login-warning-text">{{message}}</div>
            </div>
        </div>
        
		
        <form name="frmPassword" id="frmPassword" method="post">
          <div class="form-group">
            <input type="email" name = 'email' class="form-control email" id="InputEmail1" placeholder="Email">
          </div>
          <div class="row">
            <div class="col-xs-4 pull-left">
                <a href="login" class="btn btn-white margin-top15">Back</a>
            </div>
            <div class="col-xs-4 pull-right">
                <button type="submit" class="btn btn-red margin-top15">Submit</button>
            </div>
          </div>
                      
                      
        </form>
    </div>
{% endblock %}

{% block javascripts %}
     <script>
        // When the document is ready
        $(document).ready(function () {
            //validation rules
            //by default it will append a <label class="error> element to the invalid input
            //and will add a "error" class to the input
            $("#frmPassword").validate({
                rules: {
                    "InputEmail1": {
                        required: true,
                        email: true
                    }
                },
                messages:
                {
                    "InputEmail1":{
                        required:"Please enter Email"
                    }
                },
                errorElement: "div",
                wrapper: "div",  // a wrapper around the error message
                errorPlacement: function(error, element) {
					$('.gq-well').show();
					$('.login-warning-text').html(error);
                    /*offset = element.offset();
                    error.insertBefore(element)
                    error.addClass('message');  // add a class to the wrapper
                    error.css('position', 'absolute');
                    error.css('left', offset.left + element.outerWidth());
                    error.css('top', offset.top);*/
                }
            });
        });
    </script>
	{% if message %}		
		<script>
			$('.gq-well').show();
			$('.login-warning-text').html(error);
		</script>
	{% endif %}
{% endblock %}