{% extends 'main.html.twig' %}
{% block title %}GQ - RPL Reset password{% endblock %}
{% block content %}
			<p class="content">Reset Password</p>
                         {% if validRequest == 1 %}
			<div class="gq-change-profile-warning" id="change_pwd_error"></div>  
			<form name="frmChangePassword" id="frmChangePassword" method="post" class="form">				

                                <input type="password" name = 'password' autocomplete="off" class="form-control password" id="InputPassword1" placeholder="New Password">
                                
                                <input type="password" name = 'cpassword' autocomplete="off"  class="form-control password" id="InputcPassword1" placeholder="Confirm Password">
                                
				<div class="btn_section">					
                                        <a href="../login" class="back_btn btn">Login</a>				
                                    
                 <button type="submit" class="submit_btn btn" onclick="return ResetpasswordValidate();">Reset</button>

				</div>
			</form>
                        {% else %}
                        <div class="row text-center">
                            Sorry you are accessing invalid token!
                        </div>
                    {% endif %}
		{% endblock %}
{% block javascripts %}
<!-- jQuery first, then Bootstrap JS. -->
<!-- jQuery first, then Bootstrap JS. -->
<script src="{{ asset('public/js/jquery.min.js') }}"></script>
<script src="{{ asset('public/js/bootstrap.min.js') }}"></script>
<script src="{{ asset('public/js/script.js') }}"></script>
     <script>                      
        // When the document is ready
        $(document).ready(function() {
           // $(".gq-id-files-upload-success-text").delay(3000).fadeOut(100);
        });
        var base_url = "{{ base_url }}";
            function ResetpasswordValidate()
        {
            var newpassword = $("#InputPassword1").val();
            var cnewpasswd = $("#InputcPassword1").val();
            var startdiv = '<div class="gq-id-files-upload-error-text"><h2>';
            var enddiv = '</h2></div>';
            regexp=/^[a-zA-Z0-9][\w\.-]*[a-zA-Z0-9]@[a-zA-Z0-9][\w\.-]*[a-zA-Z0-9]\.[a-zA-Z][a-zA-Z\.]*[a-zA-Z]$/;
            if(newpassword == "") {
                $("#change_pwd_error").show();
                $("#change_pwd_error").html(startdiv + "Please enter new password" + enddiv);
                $("#InputPassword1").focus();    
                return false;
            }
            if(newpassword != ""){
                if (newpassword.length < 8) {
                     $("#change_pwd_error").show();
                $("#change_pwd_error").html(startdiv + "New Password must be minimum of 8 characters" + enddiv);
                $("#InputPassword1").focus();    
                return false;
                }
            }
            
            if (newpassword != "") {
                if (newpassword.length > 16 ) {
                     $("#change_pwd_error").show();
                    $("#change_pwd_error").html(startdiv + "New Password must be maximum of 16 characters" + enddiv);
                    return false;
                }
            }
            if (newpassword != "") {
                 $("#change_pwd_error").show();
                if (!(/\d/.test(newpassword) && /[a-zA-Z]/.test(newpassword))) {    // Password should contain atleast one letter and one number
                    $("#change_pwd_error").html(startdiv + "Password should contain atleast one letter and one digit" + enddiv);
                    return false;
                }
            }
            if(cnewpasswd == "") {
                
                    $("#change_pwd_error").show();
                    $("#change_pwd_error").html(startdiv + "Please enter confirm new password" + enddiv);
                    $("#InputcPassword1").val('');
                    $("#InputcPassword1").focus();
                    return false;
                
            }
            if(cnewpasswd != ""){
                if (cnewpasswd.length < 8) {
                $("#change_pwd_error").show();
                $("#change_pwd_error").html(startdiv + "Confirm New Password must be minimum of 8 characters" + enddiv);
                $("#InputcPassword1").val('');
                $("#InputcPassword1").focus();    
                return false;
                }
            }
           
            if (newpassword != "" && cnewpasswd != "") {
                
                if (newpassword != cnewpasswd)
                {                   
                    $("#change_pwd_error").show();
                    $("#change_pwd_error").html(startdiv + "New Password and Confirm Password does not match" + enddiv);
                    $("#InputcPassword1").val('');
                    $("#InputcPassword1").focus();    
                    return false;
                }
            }
           
         }
            
      
    </script>
    {% if message == '0' %}        
        <script>
            $("#change_pwd_error").show();
            $("#change_pwd_error").html('<div class="gq-id-files-upload-error-text"><h2>Error occurred while updating password. Please try again</h2></div>');
        </script>
    {% elseif message == '1'%}
        <script>
            $("#change_pwd_error").show();
            $("#change_pwd_error").html('<div class="gq-id-files-upload-success-text"><h2>Password changed successfully , please login.</h2></div>');
        </script>
    {% endif %}
{% endblock %}


