{% extends 'main.html.twig' %}
{% block title %}GQ - RPL Reset password{% endblock %}
{% block content %}
			<p class="content">Reset Password</p>
                         {% if validRequest == 1 %}
			<div class="gq-change-profile-warning" id="change_pwd_error"></div>  
			<form name="frmChangePassword" id="frmChangePassword" method="post" class="form">				

                                <input type="password" name = 'password' autocomplete="off" class="form-control password" id="InputPassword1" placeholder="New Password">
                                
                                <input type="password" name = 'cpassword' autocomplete="off"  class="form-control password" id="InputcPassword1" placeholder="Confirm Password">
                                
				<div class="btn_section">					
                                        <a href="../login" class="back_btn btn">Login</a>					
                                        <button type="submit" class="submit_btn btn">Reset</button>
				</div>
			</form>
                        {% else %}
                        <div class="row text-center">
                            Sorry you are accessing invalid token!
                        </div>
                    {% endif %}
		{% endblock %}
{% block javascripts %}
<!-- jQuery first, then Bootstrap JS. -->
<script src="{{ asset('public/js/jquery.min.js') }}"></script>
<script src="{{ asset('public/js/bootstrap.min.js') }}"></script>
<script src="{{ asset('public/js/script.js') }}"></script>
     <script>
        var base_url = "{{ base_url }}";              
        // When the document is ready
        $(document).ready(function () {
            //validation rules
            //by default it will append a <label class="error> element to the invalid input
            //and will add a "error" class to the input
            $("#frmChangePassword").validate({
                rules: {
                    "InputPassword1": {
                        required: true,
                        minlength: 5,
                        maxlength:15
                    },                        
                    "InputcPassword1":{
                        required:true,
                        equalTo: "#InputPassword1" 
                    }
                    
                },
                messages:
                {
                    "InputPassword1":{
                        required:"Please enter New Password",
                        minlength:"New Password should contain minimum 5 characters",
                        maxlength:"New Password should not exceed 15 characters",
                    },
                    "InputcPassword1":{
                        required:"Please enter Confirm Password",
                        equalTo :"New Password and Confirm Password should be same"
                    }
                },
                showErrors: function (errorMap, errorList) {
                    var msg = '';
                    var startdiv = '<div class="gq-id-files-upload-error-text"><h2><img src="' + base_url + 'public/images/login-error-icon.png">';
                    var enddiv = '</h2></div>';            
                    $.each(errorMap, function(key, value) {
                        if( errorMap['InputPassword1'] === undefined ) {
                           msg = startdiv + errorMap['InputcPassword1'] + enddiv;
                       } else {
                           msg = startdiv + errorMap['InputPassword1'] + enddiv;   
                       }
                    });
                    $('#change_pwd_error').show(); 
                    $("#change_pwd_error").html('');
                    $("#change_pwd_error").html(msg);
                }
            });
        });
    </script>
    {% if message == '0' %}        
        <script>
            $("#change_pwd_error").show();
            $("#change_pwd_error").html('<div class="gq-id-files-upload-error-text"><h2><img src="' + base_url + 'public/images/login-error-icon.png">Error occurred while updating password. Please try again</h2></div>');
        </script>
    {% elseif message == '1'%}
        <script>
            $("#change_pwd_error").show();
            $("#change_pwd_error").html('<div class="gq-id-files-upload-success-text"><h2><img src="' + base_url + 'public/images/tick.png">Password changed successfully , please login.</h2></div>');
        </script>
    {% endif %}
{% endblock %}


