@import '../../bootstrap/_variables.scss';
@import '../../bootstrap/mixins/';

$upload-button-width: 32px;

.profile{

	.panel{
		margin: 0 auto 15px;
	}
	.profile-header{
		background: url(../img/bg-onboarding-popup.png);
		background-size: cover;
		background-position: center;
		padding: 30px 60px;
		min-height: 175px;
		text-align: center;
		h2{
			font-weight: 100;
			font-size: 20px;
		}

		h4{
			font-size: 14px;
		}
	}
	.profile-user{
		display: block;
		vertical-align: middle;
		width: 100%;
		padding-left: 0;
	}
	.avatar{
		@include border-radius($grid-gutter-width * 3);
		z-index: 2;
		position: relative;
		// border: $grid-gutter-width / 4 solid #fff;
		display: inline-block;
		vertical-align: middle;
	}

	.banner{
		background-color: transparent;
		background-repeat: no-repeat;
		background-size: cover;
		background-position: center center;
		min-height: 150px;
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
	}

	
	form{
		z-index: 2;
		position: absolute;
		bottom: 0;
		right: 7px;
		input[type="file"]{
			opacity: 0;
			width: $upload-button-width;
			height: 34px;
			margin: auto;
			cursor: pointer;
			overflow: hidden;
			position: relative;
			z-index: 2;
		}
		i{
			background: $brand-red;
			position: absolute;
			width: $upload-button-width;
			left: 0;
			right: 0;
			top: 0;
			margin: 0 auto;
			color: #fff;
			// border: 2px solid #fff;
			font-size: 18px;
			padding: 7px 9px;
			@include border-radius(22px);
			// @include box-shadow(1px 1px 5px -1px rgba(0,0,0,1))
		}
	}

	h4{
		color: $gray;
		span{
			color: $gray-dark;
		}
	}

	h3{
		font-weight: 100;
		margin-top: 0;
		font-size: 18px;
		a,
		small{
			color: $brand-red;
			font-size: 14px;
		}
	}

	.profile-info{
		display: table;
		width: 100%;
		vertical-align: middle;
		margin: 15px 0 23px;
		position: relative;
		i.base-icon{
			font-size: 16px;
			text-align: center;
			padding: 3px 0 0 0;
			@include border-radius(30px);
			display: inline-block;
			color: lighten($brand-gray, 5%);
			// color: $brand-red;
		}

		p{
			display: table-cell;
			vertical-align: middle;
			width: 100%;
			padding-left: $grid-gutter-width / 4;
			font-weight: 400 ;
			color: lighten($brand-gray, 5%);

			span{
				display: block;
				color: $gray-darker;
				font-weight: normal;
			}

			// a span{
			// 	color: $brand-red;
			// 	text-decoration: underline;
			// }
		}

		img{
			width: 20px;
			height: auto;
			margin-right: $grid-gutter-width /4;
		}	

		&-password{
			p span,
			p a{
				display: table-cell;
				vertical-align: middle;
				padding-right: 15px;
			}
		}
		&.profile-info-password{
			i.zmdi-circle{
				font-size: 8px;
			}
			p span{
				display: inline-block;
			}
		}
	}

	// i.zmdi-edit{
	// 	color: #fff;
	// 	background: $gray;
	// 	font-size: 14px;
	// 	padding: 2px 3px;
	// 	@include border-radius($border-radius-base);
	// 	width: auto;
	// 	height: auto;
	// }
}

@media screen and (min-width: $screen-sm-min){
	.profile{
		h3{
			font-size: 24px;
		}


	}
	.profile-header{
		text-align: left;
		.avatar,
		.profile-user{
			display: inline-block;
		}

		.profile-user{
			padding-left: $grid-gutter-width / 2;
			width: calc(100% - 165px);
			text-align: left;

			h2{
				font-weight: 100;
				font-size: 30px;
			}

			h4{
				font-size: 18px;
			}
		}
	}
}

@media screen and (min-width: $screen-md-min){
	.profile .panel{
		max-width: 850px;
		
	}
}

