.gq-acc-wrap{
	width: 97%;
	margin: 3px auto 30px auto;
	text-align: left;
}
.gq-acc-wrap label{
	/*font-family: 'BebasNeueRegular', 'Arial Narrow', Arial, sans-serif;*/
	/*padding: 5px 20px;*/
	position: relative;
	z-index: 20;
	display: block;
	height: 48px;
	cursor: pointer;
	color: #777;
	/*text-shadow: 1px 1px 1px rgba(255,255,255,0.8);*/
	line-height: 33px;
	font-size: 19px;
	/*background: #ffffff;*/
	background-image: url(../images/add-icon-close.png);	
	background-repeat:no-repeat;	
	background-position:center center;
	/*background: -moz-linear-gradient(top, #ffffff 1%, #eaeaea 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(1%,#ffffff), color-stop(100%,#eaeaea));
	background: -webkit-linear-gradient(top, #ffffff 1%,#eaeaea 100%);
	background: -o-linear-gradient(top, #ffffff 1%,#eaeaea 100%);
	background: -ms-linear-gradient(top, #ffffff 1%,#eaeaea 100%);
	background: linear-gradient(top, #ffffff 1%,#eaeaea 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#eaeaea',GradientType=0 );
	box-shadow: 
		0px 0px 0px 1px rgba(155,155,155,0.3), 
		1px 0px 0px 0px rgba(255,255,255,0.9) inset, 
		0px 2px 2px rgba(0,0,0,0.1);*/
}
.gq-acc-wrap label.upDownArrow{
    width: auto; 
    color: #ffffff;
    cursor: pointer;
    display: inline-block;
    font-size: 14px;
    font-weight: 400;
    line-height: 25px;
    margin-bottom: 5px;
    padding: 0px 12px 0px 25px;
    text-align: center;
    vertical-align: middle;
    white-space: nowrap;
    background-image: url(../images/arrow-down.png);	
    background-repeat:no-repeat;	
    background-position:5px center;
    height: 30px;

}
.gq-acc-wrap label.upDownArrow.open{
    background-image: url(../images/arrow-up.png);
    background-position:5px center;
}
.gq-acc-row-bg.gq-acc-row-checked label {cursor:default;}
.gq-acc-wrap label:hover{
	/*background: #fff;*/
}
.gq-acc-wrap input:checked + label,
.gq-acc-wrap input:checked + label:hover{
	background: #ffffff;
	color: #5e5e5e;
	/*text-shadow: 0px 1px 1px rgba(255,255,255, 0.6);
	box-shadow: 
		0px 0px 0px 1px rgba(155,155,155,0.3), 
		0px 2px 2px rgba(0,0,0,0.1);*/
}
.gq-acc-wrap label:hover:after,
.gq-acc-wrap input:checked + label:hover:after{
	content: '';
	position: absolute;
	width: 24px;
	height: 24px;
	right: 13px;
	top: 7px;
/*	background: transparent url(../images/add-icon-close.png) no-repeat center center;	*/
}
.gq-acc-wrap input:checked + label:hover:after{
	background-image: url(../images/add-icon-open.png);
}
.gq-acc-wrap label.open {
	background-image: url(../images/add-icon-open.png);	
	background-repeat:no-repeat;	
	background-position:center center;
}
.gq-acc-wrap input{
	display: none;
}
.gq-acc-wrap article{
	background: rgba(255, 255, 255, 0.5);
	/*margin-top: -1px;*/
	overflow: hidden;
	height: 0px;
	position: relative;
	z-index: 10;
	-webkit-transition: height 0.3s ease-in-out, box-shadow 0.6s linear;
	-moz-transition: height 0.3s ease-in-out, box-shadow 0.6s linear;
	-o-transition: height 0.3s ease-in-out, box-shadow 0.6s linear;
	-ms-transition: height 0.3s ease-in-out, box-shadow 0.6s linear;
	transition: height 0.3s ease-in-out, box-shadow 0.6s linear;
}
.gq-acc-wrap article p{
	/*font-style: italic;*/
	color: #5e5e5e;
	line-height: 23px;
	font-size: 14px;
	padding: 20px;
	/*text-shadow: 1px 1px 1px rgba(255,255,255,0.8);*/
}

.gq-acc-details-wrap article p{
	/*font-style: italic;*/
	color: #5e5e5e;
	line-height: 23px;
	font-size: 13px;
	padding: 5px;
	/*text-shadow: 1px 1px 1px rgba(255,255,255,0.8);*/
}
.gq-acc-wrap input:checked ~ article{
	-webkit-transition: height 0.5s ease-in-out, box-shadow 0.1s linear;
	-moz-transition: height 0.5s ease-in-out, box-shadow 0.1s linear;
	-o-transition: height 0.5s ease-in-out, box-shadow 0.1s linear;
	-ms-transition: height 0.5s ease-in-out, box-shadow 0.1s linear;
	transition: height 0.5s ease-in-out, box-shadow 0.1s linear;
	/*box-shadow: 0px 0px 0px 1px rgba(155,155,155,0.3);*/
}
.gq-acc-wrap input:checked ~ article.acc-small{
	min-height: 140px;
	background-color:#e7e7e7;
	margin-bottom:8px;
	width:100%;
	float:left;
        height: 100%;
}
.gq-acc-wrap input:checked ~ article.acc-medium{
	height: 180px;
	background-color:#ffffff;
	margin-bottom:8px;
	width:100%;
	float:left;
}
.gq-acc-wrap input:checked ~ article.acc-large{
	height: 230px;
	background-color:#ffffff;
	margin-bottom:8px;
	width:100%;
	float:left;
}
.gq-acc-wrap label {width:50px; margin-bottom:0;}
.gq-acc-wrap .row.no-margin {margin-left:0; margin-right:0;}
.gq-acc-row-title {font-size:16px; color:#5e5e5e; min-height:48px; line-height:44px;}
.gq-acc-row-bg {background-color:#ffffff; width:100%; float:left; margin-bottom:3px;}
.gq-acc-row-bg.active {background-color:#e7e7e7;}


/* Media queries for all devices 
---------------------------------------------------------*/
@media (max-width: 767px) {
	.gq-acc-row-title {font-size:1.2em; color:#5e5e5e; min-height:48px; line-height:inherit;}
	.add-btn {padding:0 6px;}

}