/* Global Styles
---------------------------------------------------------------*/
body {
	background: #f2f2f2;
	color: #5e5e5e;
	/*font-family:"proximanova-reg";*/
	font-family: "segoeui";
	overflow-x:hidden;
}
a {
	text-decoration: none;
	outline:none;
}
a img {
	border:none;
	outline:none;
}
h1, h2, h3, h4 {
	font-weight: normal;
	margin:0px;
	padding:0px;
}
ul, li, p {
	margin: 0px;
	padding:0px;
}
ul {
	list-style:none;
}
html, body {
	height: 100%;
}
.none {
	display:none;
}
* {
	margin:0;
	padding:0;
}
img {
	max-width:100%;
	height:auto;
	border:none;
}
.none {
	display:none;
}

/* CSS 3.0 Custom Fonts
---------------------------------------------------------------*/

/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
/* ## The below styles will apply Custom font "droidserif, droidserif-bolditalic, droidserif-italic, OpenSans-Light-webfont, ProximaNova-Light, ProximaNova-Reg, ProximaNova-Sbold and ProximaNova-Bold" to the text                      ## */
/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

/* OpenSans */

@font-face {
font-family: "OpenSans-Light-webfont";
src: url('../fonts/OpenSans-Light-webfont.eot');
src: url('../fonts/OpenSans-Light-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/OpenSans-Light-webfont.woff') format('woff'), url('../fonts/OpenSans-Light-webfont.ttf') format('truetype');
}

/* segoe */
@font-face {
font-family: "segoeui";
src: url('../fonts/segoeui.eot');
src: url('../fonts/segoeui.ttf') format('truetype');
}


/* Layout Styles 
---------------------------------------------------------------*/

html, body {background-color:#f0f0f0; font-size:12px;}
.page-wrap {max-width: 1280px;  margin:0 auto;}
.margin-top15 {margin-top:15px;}
.margin-top30 {margin-top:30px;}
.wid30p {width:30%; margin:0 35%;}
.wid40p {width:40%; margin:0 30%;}
.wid50p {width:50%; margin:0 25%;}
.wid60p {width:60%; margin:0 20%;}

/* Login page Styles and forgot password styling included
---------------------------------------------------------------*/
.login-page {max-width:330px;  margin:0 auto; margin-top:145px;}
.login-page a{color:#5c5c5c; font-size:14px; line-height:46px;}
.login-page a:hover, .login-page a:active{text-decoration:underline;}
.login-page .form-group .form-control{height:46px;}
.login-page .form-control{border-radius:5px; border-color:#e6eded;}
.login-page .form-group {height:46px; margin-bottom:-1px;}
.login-page .btn-red, .login-page .btn-white {height:46px; border-radius:3px; font-size:16px;}
.login-page .btn-red { width:100%;}
.login-page .email {border-bottom-right-radius:0; border-bottom-left-radius:0;}
.login-page .password {border-top-right-radius:0; border-top-left-radius:0;}
.login-page h3 {font-size:15px; font-weight:bold; color:#58666e; margin: 25px 0;}
	
	/* Forgot password page styling included */
	.login-page p {padding:15px;}
	.login-page form a.btn {line-height:32px; text-decoration:none;}


/* Buttons styling 
---------------------------------------------------------------*/
.btn-red {background-color:#f14840; color:#ffffff;}
a.btn-red {color:#ffffff;}
.btn-red:hover, .btn-red:focus{background-color:#e03934; color:#f6f6f6;}
.btn-white {background-color:#ffffff; color:#324042; width:100%;}
.btn-white:hover, .btn-white:focus{background-color:#e1e1e1;}
.btn-grey{background-color:#5c5c5c; color:#ffffff;}
.btn-grey:hover, .btn-grey:focus {background-color:#4d4d4d; color:#f6f6f6;}
.btn-green{background-color:#57ba00; color:#ffffff;}
.btn-green:hover, .btn-green:focus {background-color:#4aab00; color:#f6f6f6;}

/* Dashboard page Styles
---------------------------------------------------------------*/
.gq-menu-icon {width:23px; height:23px; padding:3px; background-image:url(../images/gq-menu-icon.png); background-repeat:no-repeat; background-position: center center; display:block;}
.gq-down-icon {width:23px; height:23px; padding:3px; background-image:url(../images/downarrow.png); background-repeat:no-repeat; background-position: center center; display:block;}
.gq-dashboard-header {border-bottom:1px solid #d4d4d4; width:100%; background-color:#ffffff; float:left; padding: 0 10px;}
.gq-dashboard-header .btn {padding:6px;}
.gq-dashboard-header .btn-default{border:0 none;}
.gq-logo-dashboard {float:left; height:66px; padding-top:4px;}
.gq-dashboard-nav {float:left; padding-top:15px; padding-left:20px;}
.gq-dashboard-nav .btn-group {position:relative;}
.gq-dashboard-nav .dropdown-menu{ margin: 0; position: absolute; top: 42px; padding:0;}
.gq-dashboard-nav .dropdown-menu:before {
    border-bottom: 7px solid rgba(241,74,65, 1);
	/*border-bottom: 7px solid #f14a41;*/
    border-left: 7px solid transparent;
    border-right: 7px solid transparent;
    content: "";
    display: inline-block !important;
    position: absolute;
    left: 9px;
    top: -7px;
}
.user-status-select .btn-group {position:relative;}
.user-status-select .dropdown-menu{ margin: 0; position: absolute; top: 48px; padding:0;}
/*.user-status-select .dropdown-menu:before {
    border-bottom: 7px solid rgba(241,74,65, 1);
    border-left: 7px solid transparent;
    border-right: 7px solid transparent;
    content: "";
    display: inline-block !important;
    position: absolute;
    left: 9px;
    top: -7px;
}
*/
.user-status-select .dropdown-menu:before {	background-image:url("../images/peak.png"); background-repeat:no-repeat; background-position:center center; width:12px; height:10px; position:absolute; top:-9px; left: 9px; content:"";}

.user-status-msg {margin-right:10px; line-height:38px;}
.notification-section {float:left; margin-right:10px; border-right:1px solid #d5e6c5; padding-right:10px; background-image:url('../images/notification.png'); background-repeat: no-repeat; background-position: center center; width:43px; height:33px;}
.notification-section span{ color: #fff; float: right; font-size: 10px; position: relative; right: 2px; top: 4px; font-weight:bold;}
.user-status {float:left; padding-top:15px;}
.user-icon, .user-status-msg, .user-status-select{float:left;}
.dashboard-bg {background-color:#44515d; width:100%; float:left;}
.gq-dashboard-left {color:#ffffff; padding:0; text-align:center; /*min-width:54px;*/}
.gq-dashboard-right {background-color:#f2f2f2; padding:0; min-height:600px; padding:30px;}
.gq-dashboard-right .gq-dashboard-title {font-size:35px; color:#2f3941; width:100%; float:left;}
.gq-dashboard-right .gq-dashboard-title-desc {font-size:14px; color:#5e5e5e; width:100%; float:left;}

/* user status related styling */
.user-status {}
.user-status .user-icon{border:2px solid red; border-radius:50%; overflow:hidden; width:33px; margin-right:10px;}

/* Dashboard left navigation styling
---------------------------------------------------------------*/
.gq-dashboard-left-nav {margin:0; padding:0;}
.gq-dashboard-left-nav li {float:left; width:100%; border-bottom:1px solid #57636e;}
.gq-dashboard-left-nav li a{color:#ffffff; font-size:16px; text-decoration:none;/* min-height:92px; */ height:92px; display:block; padding-top:5px;}
.gq-dashboard-left-nav li a:hover, .gq-dashboard-left-nav li a:focus, .gq-dashboard-left-nav li a.active{background-color:#2f3941;}
.gq-dashboard-left-nav .gq-dashboard-icon, .gq-dashboard-left-nav .gq-courses-icon, .gq-dashboard-left-nav .gq-messages-icon, .gq-dashboard-left-nav .gq-evidence-icon {width:50px; height:50px; display:block; margin:0 auto;}

 
 /* Dashboard box with two sizes 1x and 2x
 --------------------------------------------------------------*/
.gq-dashboard-box-1x, .gq-dashboard-box-2x {width:100%; border:1px solid #dddddd; float:left; position:relative; background-color:#ffffff;}
.gq-dashboard-box-1x .flip-icon, .gq-dashboard-box-2x .flip-icon {background-image:url('../images/flippageicon.png'); background-repeat:no-repeat; background-position: center center; position:absolute; bottom:-1px; right:-1px; display:block; height:23px; width:24px;}
.gq-dashboard-box-1x {min-height: 182px; margin-bottom:16px;}
.gq-dashboard-box-2x {min-height: 380px;}
.gq-dashboard-box-title-wrap {width:100%; border-bottom:1px solid #dddddd; height:48px; display:block;}
.gq-dashboard-box-content-wrap{padding:0 15px; float:left; width:100%;}
.gq-dashboard-box-title-wrap .gq-dashboard-box-title {font-size:22px; color:#f14a41; float:left; padding:12px;}
.gq-dashboard-box-title-wrap .gq-dashboard-points-icon {width:48px; height:48px; display:block; float:right; border-left:1px solid #dddddd;}
.gq-dashboard-running-txt {font-size:14px; color:#5e5e5e; width:100%; float:left; padding-top:20px;}
.gq-dashboard-points-in-number {font-size:60px; color:#f14840; float:left;}
.gq-dashboard-points-in-percent {font-size:60px; color:#f14840; float:left; padding:15px;}
.gq-dashboard-profile-img {float:left; padding:5px 0;}
.gq-dashboard-courses-detail-wrap {width:100%; float:left; padding:15px;}
.gq-dashboard-courses-detail {width:100%; border:1px solid #dddddd; min-height:48px; display:block; float:left; margin-bottom:5px; box-shadow:0px 2px 2px #f3f3f3; background-color:#ffffff;}
.gq-dashboard-courses-detail .gq-dashboard-cap-icon {width:48px; height:48px; display:block; float:left;}
.gq-dashboard-courses-detail .gq-dashboard-courses-detail-txt {font-size:18px; color:#5e5e5e; float:left; padding-left:22px; padding-top:12px; padding-bottom:12px; border-left:1px solid #dddddd;}
.gq-dashboard-tabs-header {padding-bottom:15px;}
.gq-dashboard-tabs .nav {box-shadow:0 0 4px #dedede;}
.gq-dashboard-tabs .nav li a{border-radius:0px; background-color:#ffffff;}
.gq-dashboard-tabs .nav li:first-child a{ border-bottom-left-radius:5px; border-top-left-radius:5px; border-bottom-right-radius:0; border-top-right-radius:0;}
.gq-dashboard-tabs .nav li:last-child a{border-bottom-left-radius:0; border-top-left-radius:0; border-bottom-right-radius:5px; border-top-right-radius:5px;}

.gq-dashboard-tabs .nav-pills > li.active > a, .gq-dashboard-tabs .nav-pills > li.active > a:hover, .gq-dashboard-tabs .nav-pills > li.active > a:focus {background-color:#f14840; color:#ffffff;}
.gq-dashboard-tabs .nav-pills > li > a {color:#5e5e5e; font-size:15px;}
.gq-dashboard-bg-img1 {background-image:url('../images/idwatermark.png'); background-repeat:no-repeat; background-position:right bottom;}
.gq-dashboard-bg-img2 {background-image:url('../images/percentile.png'); background-repeat:no-repeat; background-position:right bottom;}
.gq-dashboard-bg-img3 {background-image:url('../images/notepadwatermark.png'); background-repeat:no-repeat; background-position:right bottom;}
.user-status-select .dropdown-menu:before {right:9px; left:auto;}
.user-status-select .dropdown-menu {left:-160px;}
.user-status-select .dropdown-menu .divider {margin:0 auto; width:86%;}
.user-status-select .dropdown-menu > li > a span{height:30px; display:line-block; padding-right:7px;}
.user-status-select .dropdown-menu > li > a {padding:3px 10px;}
 
 
/* Profile page styling
--------------------------------------------------------------*/
.gq-profile-page-img {width:120px; height:120px; margin:0 auto; text-align:center; border:2px solid #e7ecee; border-radius:50%; background-color:#ffffff; margin:10px auto;}
.gq-form-personal {font-size:15px;}
.gq-form-personal .gq-form-row{width:100%; float:left; margin-bottom:-1px; border:1px solid #e7ecee; border-radius:5px; height:48px; background-color:#ffffff; padding-left:15px; padding-top:7px;}
.gq-form-personal .gq-form-row input{border:0 none; border-left:1px solid #e7ecee; padding-left:15px; line-height:34px;}
.gq-form-personal .gq-form-row label{min-width:30%;}
.gq-form-personal .gq-form-row:last-child{margin-bottom:20px;}
.gq-form-personal .gq-form-botton{margin-top:20px; width:100%; float:left;}
.gq-form-personal .gq-form-botton .btn{width:100%; float:left; font-size:17px; background-color:#f14840; color:#ffffff;}
.gq-form-personal .gq-form-botton .btn:hover, .gq-form-personal .gq-form-botton .btn:focus{background-color:#ffffff; color:#5e5e5e;}
.gq-profile-tabs-header {padding-top:26px;}

	/* ID files */
	.gq-id-files-upload-text {padding-bottom:40px; width:100%; float:left;}
	.gq-id-files-upload-text h2{color:#f14840; font-size:22px;}
	.gq-id-files{position:relative; width:100%; float:left;}
	.gq-id-files-select, .gq-id-files-upload-btn, .gq-id-files-upload-btn span, .gq-id-files-submit-btn {float:left; display:flex;}
	.gq-id-files-submit-btn button{height:36px; font-size:16px; padding:5px 42px;}
	.gq-id-files-upload-btn {margin-right:10px; border:1px solid #e6e6e6; background-color:#ffffff; position:relative; border-radius:5px;}
	.gq-id-files-upload-btn input[type="file"]{ width:112px; text-indent:112px; background-image:url('../images/browse-btn.png'); background-repeat:no-repeat; background-position:25px 13px;}
	.gq-id-files-upload-btn .browse-txt{position:absolute; float:left; font-size:16px; padding-top:6px; padding-left:30px;}
	.gq-id-files-upload-btn .cloud-icon{border-left:1px solid #e6e6e6; background-image:url('../images/redcloud.png'); background-repeat:no-repeat; background-position: center center; width:38px; height:36px; display:block;}
	.gq-id-files-header-applicant{ padding:10px 30px;}
	.gq-id-files-header-facilitator{ padding:15px 30px;}
	.gq-id-files-header {
		width:100%;
		float:left;
		border-bottom:1px solid #ababab;
		box-shadow:1px 1px 3px #ababab;
		min-height:55px;

		background: rgba(250,250,250,1);
		background: -moz-linear-gradient(top, rgba(250,250,250,1) 0%, rgba(244,244,244,1) 47%, rgba(243,242,241,1) 100%);
		background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(250,250,250,1)), color-stop(47%, rgba(244,244,244,1)), color-stop(100%, rgba(243,242,241,1)));
		background: -webkit-linear-gradient(top, rgba(250,250,250,1) 0%, rgba(244,244,244,1) 47%, rgba(243,242,241,1) 100%);
		background: -o-linear-gradient(top, rgba(250,250,250,1) 0%, rgba(244,244,244,1) 47%, rgba(243,242,241,1) 100%);
		background: -ms-linear-gradient(top, rgba(250,250,250,1) 0%, rgba(244,244,244,1) 47%, rgba(243,242,241,1) 100%);
		background: linear-gradient(to bottom, rgba(250,250,250,1) 0%, rgba(244,244,244,1) 47%, rgba(243,242,241,1) 100%);
	}
	.gq-id-files-header:before{height:66px; width:8px; background-color:#f14840; display:block; float:left; content:""; position:absolute; top:-6px; left:0;}
	.gq-id-files-header:after{height:66px; width:8px; background-color:#f14840; display:block; float:left; content:""; position:absolute; top:-6px; right:0;}
	.gq-id-files-header h2 {color:#f14840; font-size:22px;}
	.gq-id-files-content-wrap {margin-left:20px; margin-right:20px;}
	.gq-dashboard-courses-detail {border:1px solid #d7d7d7; margin-bottom:15px;}
	.gq-id-files-content-icon-wrap {background-repeat:no-repeat; background-position: center center; padding:50px; display:block; width:100%; background-color:#f6f6f6;}
	.gq-id-files-content-pdf-icon {background-image:url('../images/acro-icon.png');}
	.gq-id-files-content-img-icon {background-image:url('../images/wallpaper-icon.png');}
	.gq-id-files-content-doc-icon {background-image:url('../images/page-icon.png');}
	.gq-id-files-content-row-wrap {padding:10px; width:100%; float:left;}
	.gq-id-files-content-row {width:100%; float:left; font-size:14px;}
	.gq-id-files-content-row label{color:#2f3941; width:50%; text-align:right; padding-right:6px;}
	.gq-id-files-content-row span{color:#f14840; width:50%; text-align:left;}
	.gq-id-files-content-row label:after{content:" :";}
	.gq-id-files-button-content-wrap {padding:20px;}
	.gq-id-files-button-content-wrap button {margin-bottom:8px; margin-right:5px;}
	.gq-id-files-select {width:100%; background-color:#ffffff; border-radius:5px; border:1px solid #e6e6e6;}
	.gq-id-files-select select {height:36px; left:0; 	border:1px solid #e6e6e6;}
	

/* Terms and conditions page  /  Modal pop-up styling
--------------------------------------------------------------*/
.modal-dialog.gq-modal {}
.modal-dialog.gq-modal .modal-header {
	background: rgba(250,250,250,1);
	background: -moz-linear-gradient(top, rgba(250,250,250,1) 0%, rgba(244,244,244,1) 47%, rgba(243,242,241,1) 100%);
	background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(250,250,250,1)), color-stop(47%, rgba(244,244,244,1)), color-stop(100%, rgba(243,242,241,1)));
	background: -webkit-linear-gradient(top, rgba(250,250,250,1) 0%, rgba(244,244,244,1) 47%, rgba(243,242,241,1) 100%);
	background: -o-linear-gradient(top, rgba(250,250,250,1) 0%, rgba(244,244,244,1) 47%, rgba(243,242,241,1) 100%);
	background: -ms-linear-gradient(top, rgba(250,250,250,1) 0%, rgba(244,244,244,1) 47%, rgba(243,242,241,1) 100%);
	background: linear-gradient(to bottom, rgba(250,250,250,1) 0%, rgba(244,244,244,1) 47%, rgba(243,242,241,1) 100%);
}
.modal-dialog.gq-modal .modal-footer { text-align:center; border-top:0 none;}
.modal-dialog.gq-modal .modal-content {border-radius:0;}
.modal-dialog.gq-modal .modal-body {font-size:16px; color:#5e5e5e;}
.modal-dialog.gq-modal .modal-header button.close {background-image:url('../images/crossmark.png'); background-repeat:no-repeat; background-position: center center; width:42px; height:42px; display:block; border:1px solid #d1d1d1; opacity:1; background-color:#fbfbfb; margin-top:-7px; margin-right:-7px;}
.modal-dialog.gq-modal .modal-header {text-align:center; color:#f14840; font-size:20px; padding-left:42px;}
.modal-dialog.gq-modal .modal-footer .btn-white {width:inherit; border: 2px solid #f14840; color:#f14840; line-height:30px;}
.modal-dialog.gq-modal .modal-footer .btn-white:hover, .modal-dialog.gq-modal .modal-footer .btn-white:focus {background-color:#f4f4f4;}
.pdf-icon{width:30px; height:30px; padding:3px; margin-right:8px; background-image:url(../images/pdf-icon.png); background-repeat:no-repeat; background-position: center center; display:block; float:left;}
 
 
 /* Courses page styling
--------------------------------------------------------------*/
.gq-courses-page {min-height:510px; background-position:right center;}
.gq-courses-page .gq-dashboard-courses-detail {margin-bottom:6px;}
.gq-courses-page .gq-dashboard-title {font-size:35px; color:#2f3941; width:100%; float:left;}



/* Media queries for all devices
--------------------------------------------------------------*/
 
 @media (min-width: 1280px) {
	/*.gq-dashboard-left {width:112px;} */
	.gq-dashboard-left {width:8.6680%;} 
	/*.gq-dashboard-right {width:1168px;}*/
	.gq-dashboard-right {width:91.3333%;}
	.wid60p {width:40%; margin:0 30%;}
 }
 
 @media (max-width: 767px) {

.login-page {margin-top:15px; padding:15px;}
.gq-dashboard-left {min-width:104px;}
.gq-dashboard-box-2x {margin-left:0;}
.gq-dashboard-courses-detail .gq-dashboard-courses-detail-txt{width:81%;}
.gq-dashboard-tabs-header.wid30p, .wid60p {width:inherit; margin:auto;}
.gq-dashboard-left {display:none;}
.gq-dashboard-left-nav li a {min-height:58px;}

}

@media (max-width:368px) {
.gq-dashboard-courses-detail .gq-dashboard-courses-detail-txt{width:77%; padding-left:10px;}
/*.gq-dashboard-nav {padding-left:7px;}*/
.gq-dashboard-header .pull-left {width:100%;}
.gq-dashboard-header .pull-left .gq-dashboard-nav{float:right;}
.gq-dashboard-tabs-header.wid30p {width:inherit; margin:auto;}
.gq-dashboard-nav .dropdown-menu:before, .user-status-select .dropdown-menu:before {right:9px; left:auto;}
.gq-dashboard-nav .dropdown-menu, .user-status-select .dropdown-menu {left:-125px;}
.gq-dashboard-right {padding:15px;}
}
/*
.caret {
    border-bottom: 10px solid;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    display: inline-block;
    height: 0;
    margin-left: 2px;
    vertical-align: middle;
    width: 0;




 */
 
 .errormsg { text-align:center; color: red;}