<article class="panel panel-default panel-dashboard">
    <div class="panel-body">
        <h3 class="qual-title pull-left" style="margin: 0;"><i class="zmdi zmdi-email"></i> Messages
        </h3>
        <button type="button" class="btn btn-link btn-float-right text-uppercase" onClick="location.href='/messages'"><i
                    class="zmdi zmdi-arrow-right zmdi-hc-lg"></i> View Inbox
        </button>
        <ul class="list-circle-visuals">
            <li>
                <div class="circle"><span class="value text-danger">{{ messagesTotal.applicants }}</span>
                    <figcaption>New from<br><span class="text-danger">Applicants</span></figcaption>
                </div>
            </li>
            <li>
                <div class="circle"><span class="value text-warning">{{ messagesTotal.assessors }}</span>
                    <figcaption>New from<br><span class="text-warning">Assessors</span></figcaption>
                </div>
            </li>
            <li>
                <div class="circle"><span class="value text-success">{{ messagesTotal.rtos }}</span>
                    <figcaption>New from<br><span class="text-success">RTO</span></figcaption>
                </div>
            </li>
            <li>
                <div class="circle"><span class="value text-highlight">{{ messagesTotal.managers }}</span>
                    <figcaption>New from<br><span class="text-highlight">Skills Mgr.</span></figcaption>
                </div>
            </li>
        </ul>
    </div>
</article>