<footer class="footer-gqa" data-toggle="auto-fixed-footer">
    <section class="container">
        <img class="footer-gqa-logo img-responsive" src="{{ asset('public/ui/img/gqa-logo-full-white-type.svg') }} "
             alt="Get Qualified Australia">
        <ul class="footer-gqa-nav list-inline small text-right" style="margin-top: 10px;">
            <li><a href="https://www.gqaustralia.edu.au/" target="_blank">GQA Website</a></li>
            <li><a href="tel:">Contact Us</a></li>
            <li style="display: block; margin-top: 5px;">Copyright &copy; <span id="currentYear">----</span> GQA.
                All Rights Reserved
            </li>
        </ul>
    </section>
</footer>