{% extends 'revamp_base.html.twig' %}
{% block title %}  Get Qualified Australia: Online RPL {% endblock %}

{% block stylesheets %}
{% endblock %}


{% block body %}
    <main class="main-content-gqa">
        <div class="container container-left-sidebar-main">
            {% include 'GqAusUserBundle:AccountManagerDashboard:_side_bar.html.twig' %}
            <section class="section-main">
                {% include 'GqAusUserBundle:AccountManagerDashboard:_article_message.html.twig' %}
                {% include 'GqAusUserBundle:AccountManagerDashboard:_article_applicants_overview.html.twig' %}
                {% include 'GqAusUserBundle:AccountManagerDashboard:_article_evidences_for_review.html.twig' %}
            </section>
        </div>
    </main>

    <div id="modal-task-list">
        {% include 'GqAusUserBundle:AccountManagerDashboard:_modal_all_task.html.twig' %}
    </div>

{% endblock %}

{% block javascripts %}

    <script src="{{ asset('public/ui/js/plugins/moment.min.js') }}"></script>
    <script src="{{ asset('public/ui/js/plugins/bootstrap-datetimepicker.js') }}"></script>

    <script type="text/javascript">

        reloadDueListCircleChecker();

        var template = '<div class="popover compressed" role="tooltip">' +
            '<div class="arrow"/>' +
            '<h3 class="popover-title"/>' +
            '<div class="popover-content"/>' +
            '<button type="button" class="btn btn-primary btn-block btn-sm text-uppercase btn-add-task add-new-task"> + ' +
            '<strong>Add task</strong></button>' +
            '</div>';

        var title = '<span class="taskTitle">Task for today</span> ' +
            '<button type="button" class="btn btn-transparent btn-xs btn-set-date"><i class="zmdi zmdi-calendar zmdi-hc-lg zmdi-hc-fw"></i> EDIT</button>';

        var content = '<div class="task-controls">' +
            '<textarea name="" id="taskMessage" rows="4" class="form-control" placeholder="Enter your task"></textarea>' +
            '<div data-init="datepicker"></div>' +
            '</div>';

        var userId = {{ user.id }};

        $('[data-toggle="popover"]')
            .popover({
                html: true,
                animation: false,
                template: template,
                content: content,
                title: title,
                viewport: '.main-content-gqa'
            })
            .on('shown.bs.popover', function (e) {
                $(this).next().velocity({scaleX: [1, 0], scaleY: [1, 0]}, {easing: [250, 20], duration: 800});
                init_buttons();
                init_datepicker($(this));

                var that = $(this);

                $('.add-new-task').click(function () {

                    if ($('#taskMessage').val() != '') {

                        var newTaskData = {
                            'user_course_id': that.attr('data-id'),
                            'user_id': userId,
                            'date': that.attr('data-task-date'),
                            'type': that.attr('data-file-type'),
                            'created_by': userId,
                            'message': $('#taskMessage').val()
                        };

                        $.post("/addNewTaskAndReload", newTaskData).then(
                            (result) => {
                                $('#side-task-list').html(result);

                                $.post("/loadModalTask", {user_id: userId}).then(
                                    (modalResult) => {
                                        $('#modal-task-list').html(modalResult);
                                    }
                                );

                                reloadDueListCircleChecker();
                            }
                        );
                    }

                    that.click();
                });

            });

        function init_datepicker(datePickerObject) {
            $('[data-init="datepicker"]').datetimepicker({
                'format': 'DD/MM/YYYY',
                'inline': true,
                'useCurrent': true,
                'showTodayButton': true,
                'minDate': new Date()
            }).on('dp.change', function (e) {
                var parent = $(this).closest('.popover').find('.taskTitle');
                var taskDateForPopUp = $(this).data("DateTimePicker").date().format('DD/MM/YYYY');
                var taskDateForDatabase = $(this).data("DateTimePicker").date().format('YYYY-MM-DD');

                parent.html('Task set on ' + taskDateForPopUp);
                datePickerObject.attr('data-task-date', taskDateForDatabase);
            });
        }

        function init_buttons() {
            $(document).on('click', '.btn-set-date', function (event) {
                $(this).closest('.popover').toggleClass('show-date');
                $(this).find('i').toggleClass('zmdi-calendar').toggleClass('zmdi-arrow-left');
            });
        }

        function reloadDueListCircleChecker() {

            $('.dueListCircleCheck').click(function () {

                var completeTaskData = {task_id: $(this).attr('id'), user_id: userId};

                $.post("/completeTask", completeTaskData).then(
                    (result) => {
                        $('#side-task-list').html(result);

                        $.post("/loadModalTask", {user_id: userId}).then(
                            (modalResult) => {
                                $('#modal-task-list').html(modalResult);
                            }
                        );

                        reloadDueListCircleChecker();
                    }
                );
            });
        }

    </script>
{% endblock %}