{% extends 'main.html.twig' %}
{% block title %}GQ - RPL Forgot Password{% endblock %}
{% block content %}
			<p class="content">Enter your Email Address below to reset your password.</p>
			<div class="gq-change-profile-warning" id="change_pwd_error"></div>  
			<form class="form" name="frmPassword" id="frmPassword" method="post">
				<input type="email" name = 'email' autocomplete="off" class="form-control email" id="InputEmail1" placeholder="Email"/>
				<div class="btn_section">
					<a href="login"   class="back_btn btn">BACK</a>
					<input type="submit" class="submit_btn btn" onclick="return forgotValidate();" value="SUBMIT"/>
				</div>
			</form>
		{% endblock %}
{% block javascripts %}
<!-- jQuery first, then Bootstrap JS. -->
<script src="{{ asset('public/js/jquery.min.js') }}"></script>
<script src="{{ asset('public/js/bootstrap.min.js') }}"></script>
<script src="{{ asset('public/js/script.js') }}"></script>
     <script>
        // When the document is ready
        $(document).ready(function() {
           // $(".gq-id-files-upload-success-text");
        });
        var base_url = "{{ base_url }}";
        function forgotValidate()
        {
            var useremail = $("#InputEmail1").val();
            var startdiv = '<div class="gq-id-files-upload-error-text"><h2>';
            var enddiv = '</h2></div>';
            regexp=/^[a-zA-Z0-9][\w\.-]*[a-zA-Z0-9]@[a-zA-Z0-9][\w\.-]*[a-zA-Z0-9]\.[a-zA-Z][a-zA-Z\.]*[a-zA-Z]$/;
            if(useremail=="") {
                $("#change_pwd_error").show();
                $("#change_pwd_error").html(startdiv + "Please enter Email" + enddiv);
                $("#InputEmail1").focus();    
                return false;
            }
            else {
                if(useremail.search(regexp)==-1) {
                    $("#change_pwd_error").show();
                    $("#change_pwd_error").html(startdiv + "Please enter valid Email" + enddiv);
                    $("#InputEmail1").val('');
                    $("#InputEmail1").focus();
                    return false;
                }
            }
         }
    </script>
    {% if message == '0' %}        
        <script>
            $("#change_pwd_error").show();
            $("#change_pwd_error").html('<div class="gq-id-files-upload-error-text"><h2>There is no user with this email address. Please try again</h2></div>');
        </script>
    {% elseif message == '1'%}
        <script>
            $("#change_pwd_error").show();
            $("#change_pwd_error").html('<div class="gq-id-files-upload-success-text"><h2>A request for password reset is sent to this address.</h2></div>');
        </script>
    {% endif %}
{% endblock %}
