/* In portfolio */
.portfolio-container .portfolio-data-table .table th.sort-by:before{
	content: "\E5DB";
	vertical-align: top;
}
.portfolio-container .portfolio-filter .filter input {
	padding: 8px 25px 8px 30px;
	background: url("../../../images/search_icon.png");
	background-repeat: no-repeat;
	background-position: center left;
}
@media (max-width: 767px){
	.portfolio-container .portfolio-data-table .table thead{
		border-left: 0;
		border-right: 0;
	}
	.portfolio-container .portfolio-filter{
		border: 0;
	}
	#myTab{
		margin: 0;
		border-bottom: 1px solid;
		border-top: 1px solid;
	}
	/*.portfolio-container .portfolio-filter .status a{
		padding: 18px 0;
	}*/
	.portfolio-container .portfolio-filter .status a{
		color: #999;
	}
	.portfolio-container .portfolio-filter{
		padding: 10px 15px 0;
	}
}


/* In qualification */
.nav-tabs li.close{
	opacity: 1;
}

/* In header 
.mobi-profile{
	position: fixed;
	bottom: 0;
	width: 100%;
	padding: 0;
}
.mobi-profile ul{
	padding: 10px;
}
.mobi-profile ul li.profile-tag .profile-img{
	height: 30px;
}
.mobi-profile ul li a label{
	margin-bottom: 0;
}
.mobi-profile ul li a {
    color: #fff;
    display: inline-block;
    vertical-align: sub;

}
*/


@media (max-width: 767px){
	.main-container{
		position: relative;
	}
	.body_section{
		overflow-y: auto;
	}
}
.content{
	word-wrap: break-word;
	word-break: break-all;
}
.step_list .content{
	word-wrap: initial;
	word-break: initial;
}

@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
    .portfolio-container .portfolio-filter .gq-dashboard-tabs-header{
        width: 28.2%;
    }
}
@media screen and (-webkit-min-device-pixel-ratio:0) {
 /* Safari 5+ ONLY */
    ::i-block-chrome, .portfolio-container .portfolio-filter .gq-dashboard-tabs-header {
        width: auto;
    }
    ::i-block-chrome, .portfolio-container .portfolio-filter ul {
        width: auto;
        float: right;
        margin: 0;
        margin-right: 10px;
    }
    ::i-block-chrome, .portfolio-container .portfolio-filter .status a {
        padding: 8px 20px;
    }
    
}

.main_container .body_section.candidate_profile .panel-group .panel .panel-body .panel-copy .file-info span.file-discription{
	word-wrap: break-word;
	word-break: break-all;
}

.main_container .body_section.candidate_profile .panel-group .panel .panel-body .panel-copy .file-info span{
	padding: 0 2px;
}

.message_popup .input_section label.subject{
	width: 60px;
}

/* success and error messages */
.gq-id-files-upload-success-text {
    background-color: #fff;
    padding: 25px 0;
    text-align: center;
    width: 100%;
    
}
.gq-id-files-upload-success-text span {
	color:green; 
	font-size:15px;
	text-align: center;
	float: none;
}
.gq-id-file-error-text {
    text-align: center;
}
.gq-id-file-error-text h2,.gq-id-files-upload-error-text h2 {
    color: #e01010;
    font-size: 13px;
	text-align: center;
}
#err_msg{
	width: 100%;
}

/* File Que upload in Files tab */
/* only in mobile portrait view */

.main_container .body_section .file_upload_block .panel-body .panel-copy .file-info .file-discription {
    padding: 5px 10px;
    word-wrap: break-word;
    word-break: break-all;
    width: 40%;
}
.main_container .body_section .file_upload_block .panel-body .panel-copy .file-info .file-progress {
    width: 30%;
    padding-right: 10px;
}
.main_container .body_section .file_upload_block .panel-body .panel-copy .file-info .file-progress progress {
    width: 100%;
}
#linkedEvidences.panel-copy .file-info.disable{opacity:0.5;}
#frmSelectEvidence span.completed{
    display: inline;
    color: green;
}