.main_container .portfolio-container {
	overflow-x: hidden
}
.main_container .portfolio-container .panel-group {
    margin: 0
}
.main_container .portfolio-container .panel-group .panel-heading {
    border-radius: 0;
    background-color: #333;
    text-transform: uppercase;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05)
}
.main_container .portfolio-container .panel-group .panel-heading .panel-title {
    color: #fff
}
.main_container .portfolio-container .panel-group .panel-heading .panel-title .count {
    font-weight: 900
}
.main_container .portfolio-container .panel-group .panel {
    border: 0;
    border-radius: 0;
    box-shadow: 0 0 0 transparent
}
.main_container .portfolio-container .portfolio-filter {
    padding: 10px 0
}
.main_container .portfolio-container .portfolio-filter .search_box,.main_container .portfolio-container .portfolio-filter .search-box {
    border: 1px solid #ccc;
    box-shadow: none;
    border-radius: 0;
    padding: 0 7px;
    width: 100%;
	background-image: url('../../../images/search_icon.png');
	background-repeat: no-repeat;
	background-position: 5px center;
    padding-left: 30px;
	height: 32px;
}
.main_container .portfolio-container .portfolio-filter .search_box.log_date_field{
	background-image: none;
	padding-left: 7px;
}
.main_container .portfolio-container .portfolio-filter select {
    border-radius: 0;
    width: 100%;
    box-shadow: none;
    border: 1px solid #ccc;
    padding: 0 5px
}
.main_container .portfolio-container .portfolio-filter label {
    font-weight: normal
}
.main_container .portfolio-container .portfolio-filter .btn_red {
    background-color: #E01010;
    color: #fff;
    border-radius: 0;
    border: 1px solid #E01010;
    width: 100%;
    float: right;
    margin-top: 15px;
    font-size: 15px;
    padding: 5px 10px
}
.main_container .portfolio-container .portfolio-data-table .table {
    margin: 0;
	table-layout: fixed;
}
.main_container .portfolio-container.reports .portfolio-data-table .table{
	table-layout: initial;
}
.main_container .portfolio-container .portfolio-data-table .table thead {
    border: 1px solid #4a4a4a;
}
.main_container .portfolio-container .portfolio-data-table .table tbody {
    border: 1px solid #d8d8d8
}
.main_container .portfolio-container .portfolio-data-table .table tbody+tbody {
    border-top: 2px solid #d8d8d8;
}
.main_container .portfolio-container .portfolio-data-table .table tbody tr {
    border: 1px solid #d8d8d8
}
.main_container .portfolio-container .portfolio-data-table .table tbody tr:first-child,
.main_container .portfolio-container .portfolio-data-table .table tbody tr:last-child {
    border-top: 0
}
.main_container .portfolio-container .portfolio-data-table .table th {
    font-size: 16px;
    font-weight: normal;
    text-transform: uppercase;
    border: 0
}
.main_container .portfolio-container .portfolio-data-table .table th.sort{
	cursor: pointer;
}
.main_container .portfolio-container .portfolio-data-table .table th.sort-by:before {
    content: "\E5DB";
    font-family: 'Material Icons';
    vertical-align: middle
}
.main_container .portfolio-container .portfolio-data-table .table td {
    font-size: 14px;
    border: 0;
}
.main_container .portfolio-container .portfolio-data-table.mobile-portfolio-data-table .portfolio-data-row .name {
    float: left;
    font-size: 15px;
    width: 50%;
	word-wrap: break-word;
}
.main_container .portfolio-container .portfolio-data-table.mobile-portfolio-data-table .portfolio-data-row .progress-container .progress {
    width: 70%;
	float: left;
}
.main_container .portfolio-container .portfolio-data-table.mobile-portfolio-data-table .portfolio-data-row .progress-container .progress-copy {
    width: auto;
	padding-left: 5px;
	float: left
}
.main_container .portfolio-container .portfolio-data-table.mobile-portfolio-data-table .portfolio-data-row .progress-container {
    float: left;
    width: 50%;
}
.main_container .portfolio-container .portfolio-data-table.mobile-portfolio-data-table .portfolio-data-row .qualification{
	float: left;
	width: 100%
}
.main_container .portfolio-container.logs .portfolio-data-table .table td:nth-child(n+4){
	text-align: left;
}
.main_container .portfolio-container .portfolio-data-table .table td:nth-child(n+4){
	text-align: center;	
	position: relative;
}
.main_container .portfolio-container .portfolio-data-table .table td.status{
	text-align: left;
}
.main_container .portfolio-container .portfolio-data-table .table td a {
    color: #333;
	word-wrap: break-word;
}
.main_container .portfolio-container .portfolio-data-table .table td a:focus {
    text-decoration: none
}
.main_container .portfolio-container .portfolio-data-table .table td span.check{
	position: absolute;
	vertical-align: middle;
}
.main_container .portfolio-container .portfolio-data-table .table td span.check i{
	color: green;
	font-size: 20px;
}
.main_container .portfolio-container .portfolio-data-table .table td i.material-icons {
    text-align: center;
    display: inline-block;
	vertical-align: middle;
}
.main_container .portfolio-container.mobile-version .portfolio-data-table .table td a {
    width: 50%;
    display: inline-block;
    float: left
}
.main_container .portfolio-container.mobile-version .portfolio-data-table .table td a.name {
    color: #4a4a4a;
    font-weight: bold
}
.main_container .portfolio-container.mobile-version .portfolio-data-table .table td .status_content {
    width: 50%;
    display: inline-block;
    float: left
}
.main_container .portfolio-container.mobile-version .portfolio-data-table .table td .qualification_content {
    color: #999
}
.no-gutter>[class*='col-lg-2'] {
    padding-right: 0;
    padding-left: 0
}
.no-gutter>[class*='col-'] {
    padding-right: 0;
    padding-left: 0
}
.table>tbody>tr>td,
.table>tbody>tr>th,
.table>tfoot>tr>td,
.table>tfoot>tr>th,
.table>thead>tr>td,
.table>thead>tr>th {
    vertical-align: middle
}
.ui-datepicker .ui-datepicker-buttonpane button.ui-datepicker-current {
    display: none
}
.ui-datepicker {
    padding: 0;
    border: 1px solid #d8d8d8;
    border-radius: 0;
    font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px
}
.ui-datepicker .ui-datepicker-header {
    background: #333;
    color: #fff;
    border-radius: 0
}
.ui-datepicker .ui-datepicker-close {
    border-radius: 0
}
.ui-datepicker .ui-widget-header .ui-icon {
    background-image: none
}
.ui-datepicker .ui-widget-header .ui-state-hover {
    background: transparent;
    border: 0
}
.ui-datepicker .ui-datepicker-prev {
    width: auto
}
.ui-datepicker .ui-datepicker-prev::before {
    font-family: "Material Icons";
    font-size: 19px;
    display: block;
    vertical-align: middle;
    content: "\E314";
    color: #fff
}
.ui-datepicker .ui-datepicker-prev:hover {
    font-size: 19px
}
.ui-datepicker .ui-datepicker-next {
    width: auto
}
.ui-datepicker .ui-datepicker-next::before {
    font-family: "Material Icons";
    font-size: 19px;
    display: block;
    vertical-align: middle;
    content: "\E315";
    color: #fff
}
.ui-datepicker .ui-datepicker-next:hover {
    font-size: 19px
}
.modal {
    text-align: center;
    padding: 0 !important
}
.modal:before {
    content: initial;
    display: inline-block;
    height: auto;
    vertical-align: middle;
    margin-right: -4px
}
.modal-dialog {
    display: inline-block;
    text-align: left;
    vertical-align: middle
}
.update_popup .modal-dialog {
    width: 350px
}
.update_popup .modal-content {
    box-shadow: none;
    border-radius: 0;
    position: relative
}
.update_popup .modal-header {
    background: #4a4a4a;
    color: #fff;
    padding: 10px 20px
}
.update_popup .modal-header .modal-title {
    font-size: 16px
}
.update_popup .modal-header .close {
    font-size: 28px;
    opacity: 1;
    color: #fff;
    font-weight: normal
}
.update_popup .modal-header .close:focus{
	outline: none;
}
.update_popup .modal-body {
    padding: 30px
}
.update_popup .form .title {
    font-size: 15px;
    padding-bottom: 10px;
    display: block
}
.update_popup .form select {
    border-radius: 0;
    border: 1px solid #d8d8d8
}
.update_popup .form .btn_red {
    background-color: #E01010;
    color: #fff;
    border-radius: 0;
    border: 1px solid #E01010;
    margin-top: 20px;
    width: 100%
}
.main_container .portfolio-container .portfolio-filter label{
	padding: 0 8px;
}
.main_container .portfolio-container.logs .portfolio-filter .search_box{
	margin-bottom: 15px;
}
#filterByStatus option{
	border-right: 1px solid #999;
}
@media screen and (min-width: 768px) {
    .main_container .portfolio-container {
        padding-top: 20px
    }
    .main_container .portfolio-container .portfolio-filter {
        border: 1px solid #4a4a4a;
		padding: 10px 15px
    }
	.main_container .portfolio-container .portfolio-filter label{
		padding: 0;
	}
    .main_container .portfolio-container .portfolio-data-table {
        padding-top: 20px
    }
    .main_container .portfolio-container .portfolio-data-table .progress {
        width: 55%
    }
    .main_container .portfolio-container .portfolio-data-table .progress-copy {
        width: auto
    }
    .main_container .portfolio-container .portfolio-data-table .progress-copy.un-reviewed {
        color: #E01010
    }
	.main_container .portfolio-container .portfolio-data-table .table thead {
		border: 1px solid #4a4a4a
	}
    .main_container .portfolio-container .portfolio-filter {
        padding: 10px 15px
    }
    .main_container .portfolio-container .portfolio-filter select {
        border-radius: 0;
        box-shadow: none
    }
    .main_container .portfolio-container .portfolio-filter.mobile-version {
        display: none
    }
    .main_container .portfolio-container .portfolio-data-table .table thead th:nth-child(n+4) {
        text-align: center
    }
    .main_container .portfolio-container.logs .portfolio-data-table .table thead th:nth-child(4) {
        text-align: left
    }
}
@media screen and (min-width: 1024px) {
	.main_container .portfolio-container .portfolio-filter select {
        width: 65%;
    }
	.main_container .portfolio-container .portfolio-filter .btn_red{
		padding: 5px 0;
		margin-top: 0;
	}
	.main_container .portfolio-container.reports .portfolio-filter .search_box{
		width: 70%;
	}
	.main_container .portfolio-container.logs .portfolio-filter .search_box{
		margin-bottom: 0;
	}
}
@media screen and (min-width: 1280px) {
	.main_container .portfolio-container .portfolio-filter select {
        width: 70%;
    }
	.main_container .portfolio-container .portfolio-filter .btn_red{
		padding: 5px 10px;
	}
	.main_container .portfolio-container.reports .portfolio-filter .search_box{
		width: 75%;
	}
}
@media screen and (min-color-index:0) 
and(-webkit-min-device-pixel-ratio:0) { @media
{
	.portfolio-filter .col-lg-1{
		flex: 0 0 7%;
	}
}
}
@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
    .currentnew .col-lg-5{
		flex: 0 0 30%;
	}
	.main_container .portfolio-container .portfolio-data-table .table td:nth-child(n+4){
		vertical-align: top;
	}
	.main_container .portfolio-container.logs .portfolio-filter,.main_container .portfolio-container.reports .portfolio-filter{
		width: 102.7%;
	}
	.reports .col-lg-2 {
		flex: 0 0 10%;
	}
	.reports .col-lg-4 {
		flex: 0 0 29%;
	}
	.logs .col-lg-3 {
		flex: 0 0 20%;
	}
}
.gq-pagination-next-icon, .gq-pagination-prev-icon {float:left;border:1px solid #e9e9e9; width:32px; height:32px; background-color:#ffffff; background-repeat:no-repeat; background-position:center center;}
.gq-pagination-next-icon:hover, .gq-pagination-next-icon:focus, .gq-pagination-prev-icon:hover, .gq-pagination-prev-icon:focus {background-color:#fefefe; cursor:pointer;}
.gq-pagination-prev-icon{margin-right:-1px; background-image:url('../../../images/prev-msg.png');}
.gq-pagination-next-icon{background-image:url('../../../images/next-msg.png');}
.gq-msg-pagination-txt {float:left; color:#5e5e5e; font-size:14px; line-height:32px; padding-right:14px;}
.portfolio-data-row .progress{height: 5px;margin: 5px 0;}
.portfolio-data-row .progress-bar-danger{background-color: red;}