.portfolio-container{margin-top:20px}.portfolio-container .panel-group{margin:0}.portfolio-container .panel-group .panel-heading{border-radius:0;background-color:#333;text-transform:uppercase;box-shadow:0 1px 1px rgba(0,0,0,0.05)}.portfolio-container .panel-group .panel-heading .panel-title{color:#fff}.portfolio-container .panel-group .panel-heading .panel-title .count{font-weight:900}.portfolio-container .panel-group .panel{border:0;border-radius:0;box-shadow:0 0 0 transparent}.portfolio-container .portfolio-filter{border:1px solid #4a4a4a;padding:0 15px}.portfolio-container .portfolio-filter li{float:left;width:50%}.portfolio-container .portfolio-filter .filter input{border:0;width:100%;padding:8px 25px 8px 15px}.portfolio-container .portfolio-filter .filter input[type="placeholder"]:before:before{content:"\E8B6";font-family:"Material Icons"}.portfolio-container .portfolio-filter .status{font-weight:900;text-align:center;text-transform:uppercase}.portfolio-container .portfolio-filter .status a{color:#d8d8d8;display:block;padding:8px 0}.portfolio-container .portfolio-filter .status.active{background-color:#333;color:#fff;border-bottom:4px solid #E01010}.portfolio-container .portfolio-filter .status.active a{color:#fff;text-decoration:none}.portfolio-container .portfolio-filter .status.in-active{color:#d8d8d8;font-weight:normal}.portfolio-container .portfolio-data-table .table{margin:0}.portfolio-container .portfolio-data-table .table thead{border:1px solid #4a4a4a}.portfolio-container .portfolio-data-table .table tbody{border:1px solid #d8d8d8}.portfolio-container .portfolio-data-table .table tbody tr{border:1px solid #d8d8d8}.portfolio-container .portfolio-data-table .table tbody tr:first-child,.portfolio-container .portfolio-data-table .table tbody tr:last-child{border-top:0}.portfolio-container .portfolio-data-table .table th{font-size:16px;font-weight:normal;text-transform:uppercase;border:0}.portfolio-container .portfolio-data-table .table th.sort-by:before{content:"\E5D8";font-family:'Material Icons';vertical-align:middle}.portfolio-container .portfolio-data-table .table th.sort-by.sorting_asc:before{content:"\E5DB";}.portfolio-container .portfolio-data-table .table td{font-size:14px;border:0}.portfolio-container .portfolio-data-table .table td a{color:#333}.portfolio-container .portfolio-data-table .table td i.material-icons{text-align:center;display:block}.portfolio-container .portfolio-data-table .progress{float:left;margin-bottom:auto;height:.25rem;margin-top:10px;margin-right:10px;width:25%}.portfolio-container .portfolio-data-table .progress .progress-bar-danger{background-color:#E01010}.portfolio-container .portfolio-data-table .progress-copy{font-size:14px;font-weight:900;width:55%}.portfolio-container .portfolio-data-table .progress-copy.un-reviewed{color:#E01010}.portfolio-container .portfolio-data-table.mobile-portfolio-data-table table th{font-size:14px;font-weight:900;padding:8px 14px}.portfolio-container .portfolio-data-table.mobile-portfolio-data-table table th.sort{text-align:right}.portfolio-container .portfolio-data-table.mobile-portfolio-data-table table td{padding:8px 14px 8px 14px}.portfolio-container .portfolio-data-table.mobile-portfolio-data-table .portfolio-data-row .name{float:left;font-size:15px;width:50%}.portfolio-container .portfolio-data-table.mobile-portfolio-data-table .portfolio-data-row .progress-container{float:left;width:50%}.portfolio-container .portfolio-data-table.mobile-portfolio-data-table .portfolio-data-row .progress-container .progress{width:70%}.portfolio-container .portfolio-data-table.mobile-portfolio-data-table .portfolio-data-row .progress-container .progress-copy{width:auto}.portfolio-container .portfolio-data-table.mobile-portfolio-data-table .portfolio-data-row .qualification-copy{float:left;font-size:12px;width:100%}.no-gutter>[class*='col-lg-2']{padding-right:0;padding-left:0}.no-gutter>[class*='col-']{padding-right:0;padding-left:0}.table>tbody>tr>td,.table>tbody>tr>th,.table>tfoot>tr>td,.table>tfoot>tr>th,.table>thead>tr>td,.table>thead>tr>th{vertical-align:middle}@media screen and (min-width: 768px){.portfolio-container .portfolio-data-table{margin-top:20px}.portfolio-container .portfolio-data-table .progress{width:55%}.portfolio-container .portfolio-data-table .progress-copy{width:auto}.portfolio-container .portfolio-data-table .progress-copy.un-reviewed{color:#E01010}.portfolio-container .portfolio-filter{padding:0 15px}.portfolio-container .portfolio-filter ul{width:100%;float:left;margin:0}.portfolio-container .portfolio-filter ul li{float:left;width:50%}}
/*# sourceMappingURL=portfolio.css.map */

.main_container .dropdown {

}

.main_container .dropdown .dropdown-toggle {
cursor:pointer;
}

.main_container .dropdown .dropdown-toggle::after {
content:none;
}

.main_container .dropdown .dropdown-menu {
border:1px solid #d8d8d8;
border-radius:0;
font-size:13px;
left:auto;
right:0;
box-shadow:none;
padding:0;
}

.main_container .dropdown textarea {
border:1px solid #d8d8d8;
border-radius:3px;
color:#4a4a4a;
resize:none;
margin:15px;
padding:5px;
}

.main_container .dropdown textarea:focus,.main_container .dropdown textarea:active {
outline:none;
}

.main_container .dropdown .date_section {
padding:0 5px;
}

.main_container .dropdown .date_field {
border:1px solid #d8d8d8;
border-radius:2px;
box-shadow:none;
padding-right:35px;
width:92%;
color:#4a4a4a;
font-size:13px;
background-image:url(../../../images/calendar_icon.png);
background-repeat:no-repeat;
background-position:right 7px center;
background-size:20xp 20px;
margin:0 10px;
}

.main_container .dropdown .btn_red {
background:#E01010;
color:#fff;
width:100%;
border:1px solid #E01010;
font-size:14px;
margin:10px auto 0;
padding:8px;
}

.ui-widget-header .ui-icon {
background-image:url(../../../images/ui-icons_222222_256x240.png);
}

.ui-datepicker {
border:1px solid #d8d8d8;
border-radius:0;
font-family:"Open Sans","Helvetica Neue",Helvetica,Arial,sans-serif;
font-size:14px;
padding:0;
}

.ui-datepicker .ui-datepicker-header {
background:#333;
color:#fff;
border-radius:0;
}

.ui-datepicker .ui-widget-header .ui-icon {
background-image:none;
}

.ui-widget-header .ui-state-hover{
background:transparent;
border:0;
}

.ui-datepicker .ui-datepicker-prev::before {
font-family:"Material Icons";
font-size:19px;
display:block;
vertical-align:middle;
content:"\E314";
color:#fff;
}

.ui-datepicker .ui-datepicker-next::before {
font-family:"Material Icons";
font-size:19px;
display:block;
vertical-align:middle;
content:"\E315";
color:#fff;
}

.gq-id-files-upload-success-text {padding-top:12px; text-align:center;}
.gq-id-files-upload-success-text h2{color:#86b332; font-size:13px;}
.gq-id-files-upload-success-text img {margin-right:4px; padding-bottom:4px;width:auto !important;}
.gq-id-files-upload-success-text span{width:19px; height:13px; background-image:url('../images/tick.png'); background-repeat:no-repeat; backgrounc-positoin:center center; float:left; margin-right:12px;}
.gq-msg-top-pagination{padding-top:5px;}
.gq-pagination-next-icon, .gq-pagination-prev-icon {float:left;border:1px solid #e9e9e9; width:32px; height:32px; background-color:#ffffff; background-repeat:no-repeat; background-position:center center;}
.gq-pagination-next-icon:hover, .gq-pagination-next-icon:focus, .gq-pagination-prev-icon:hover, .gq-pagination-prev-icon:focus {background-color:#fefefe; cursor:pointer;}
.gq-pagination-prev-icon{margin-right:-1px; background-image:url('../../../images/prev-msg.png');}
.gq-pagination-next-icon{background-image:url('../../../images/next-msg.png');}
.gq-msg-pagination-txt {float:left; color:#5e5e5e; font-size:14px; line-height:32px; padding-right:14px;}