<html>
<head>
    <title>Welcome to Online RPL!</title>
</head>
<body style="margin: 0; padding: 0; font-family: 'Arial';" bgcolor="#e2e2e2">
<center>
    <font color="#808080">
        <table cellpadding="0" cellspacing="0" width="600" style="line-height: 1.3;">
            <tr>
                <td align="center">
                    <img src="{{ appUrl }}public/ui/img/gqa-online-rpl.svg" style="width: 205px; height: auto; padding: 15px 0;">
                </td>
            </tr>

            <tr>
                <td align="center">
                    <img src="{{ appUrl}}public/ui/img/email-welcome-banner.jpg" style="width: 100%; height: auto;">
                </td>
            </tr>

            <tr>
                <td>
                    <table cellpadding="0" ; cellspacing="0" style="color: #808080">
                        <tr bgcolor="#ffffff">
                            <td>
                                <table cellpadding="12" style="text-align: center" width="600">
                                    <tr>
                                        <td><br/>
                                            <center><font color="#e7302a"><h1 style="font-weight: normal;margin: 0;">
                                                        Hello {{user.getUserName()}}</h1></font></center>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <center><h2 style="color: #808080; font-weight: 100; margin: 0">Welcome to
                                                    your next big career step</h2></center>
                                        </td>
                                    </tr>
                                </table>

                                <table width="600" cellpadding="8">
                                    <tr>
                                        <td width="20%"></td>
                                        <td width="20%"></td>
                                        <td width="5%">
                                            <center>
                                                <hr width="32" style="background: #e7302a; height: 8px; border: none;"/>
                                            </center>
                                        </td>
                                        <td width="20%"></td>
                                        <td width="20%"></td>
                                    </tr>
                                </table>

                                <table width="600" cellpadding="12">
                                    <tr>
                                        <td>
                                            <center>
                                                <font color="#808080">
                                                    <h3 style="margin: 0; font-weight: normal">
                                                        <strong>You're officially enroled</strong> & on your way to
                                                        <strong>{{ courseName }}.</strong> Congratulations and
                                                        welcome to GQA's Online RPL!
                                                    </h3>
                                                </font>
                                            </center>
                                        </td>
                                    </tr>
                                </table>
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>
        </table>
    </font>

    <table width="600" cellpadding="12">
        <tr>
            <td width="15"></td>
            <td colspan="3">
                <font color="#808080"><p style="margin: 0;"><strong>Online RPL</strong>, along with the <strong>Account
                            Manager</strong> who will be assigned to you shortly, will guide you through the RPL process
                        every step of the way. It's GQA's nifty new service where you can do the following:</p></font>
            </td>
            <td width="15"></td>
        </tr>

        <tr>
            <td></td>
            <td></td>
            <td>
                <ul style="margin: 0; padding: 0;">
                    <li><font color="#808080">Receive your RPL Onboarding Kit</font></li>
                    <li><font color="#808080">Fill up your Enrolment Form</font></li>
                    <li><font color="#808080">Manage your Qualifications Page</font></li>
                    <li><font color="#808080">Select & manage your Elective Units</font></li>
                    <li><font color="#808080">Upload Evidence</font></li>
                </ul>
            </td>
            <td></td>
            <td></td>
        </tr>

        <tr>
            <td></td>
            <td colspan="3">
                <font color="#808080">From enrolment, you have a total of <strong>180 days</strong> to finish uploading
                    and get ready for assessment. Your account manager will be there throughout this time to answer your
                    questions, assets you in renewing evidence, and provide moral support</font>
            </td>
            <td></td>
        </tr>

        <tr>
            <td></td>
            <td colspan="3">
                <font color="#808080">
                    Best regards, <br/>
                    Your Online RPL Team
                    <br/> <br/> <br/>
                </font>
            </td>
            <td></td>
        </tr>
    </table>

    {% include 'GqAusUserBundle:Email:_footer.html.twig' %}

</center>
</body>
</html>