[data-loader] {
	.loading {
		display: block;
		height: 377px;
		position: relative;
		background-color: $gray-lighter;
	}

	&:hover {
		cursor: progress;
	}

	+ .panel-body {
		display: none;
	}
}

.loader {
	$urlBase: '../img/content-loader/content-loader-';
	$leftWidth: 300px;
	$rightWidth: 93px;
	$offset: $rightWidth + $leftWidth;
	$widthCurve: 12px;

	overflow: hidden;
	width: 100%;

	> .msk1, > .msk2, > .msk3 {
		position: absolute;
		top: 0;
		bottom: 0;
		content: '';
		display: block;
	}

	// Left stencil
	> .msk1 {
		left: 0;
		width: $leftWidth;
		background-repeat: no-repeat;
		background-position: left center;
		background-image: url(#{$urlBase}left.svg);
		background-size: contain;
		z-index: 1;
	}

	// Middle stencil
	> .msk2 {
		@include calc-sub-two-values(width,100%,$offset);
		left: $leftWidth;
		right: $rightWidth;
		z-index: 2;

		background-repeat: repeat-x;
		background-position: center center;
		background-image: url(#{$urlBase}repeat.svg);
		background-size: contain;

		&:before, &:after {
			position: absolute;
			top: 31px;
			height: 15px;
			z-index: 5;
			content: '';
			display: block;
			background-repeat: no-repeat;
			background-position: center center;
			background-size: contain;
		}

		// Left curve
		&:before {
			right: 100%;
			width: $widthCurve;
			background-image: url(#{$urlBase}left-curve.svg);
		}
		// Right curve
		&:after {
			left: 100%;
			width: $widthCurve;
			background-image: url(#{$urlBase}right-curve.svg);
		}	
	}

	// Right stencil
	> .msk3 {
		right: 0;
		width: $rightWidth;
		background-repeat: no-repeat;
		background-position: right center;
		background-image: url(#{$urlBase}right.svg);
		background-size: contain;
		z-index: 3;
	}

	// Shine
	&:after {
		position: absolute;
		top: -10%;
		bottom: -10%;
		content: '';
		display: block;
		z-index: 0;
		width: 25%;
		left: -30%;
		@include transform(rotateZ(15deg));
		@include gradient-horizontal-three-colors($gray-lighter, rgba(255,255,255,0.5), 50%, $gray-lighter);
		@include animation(shine 2s infinite);
	}
}

@include keyframes(shine) {
	0% { left: -30%; }
	100% { left: 110%; }
}