// GQA Header Constants
.header-gqa {
	.header-gqa-logo {
		height: 50px;
		width: auto;
		@include transition(all .3s $easing);
	}

	.container {
		position: relative;
		z-index: 1;
	}

	.avatar { @include transition(all .3s $easing); }

	&.compressed {
		.header-gqa-logo {
			height: 50px;
			@include transition(all .3s $easing);
		}
		.navbar-bg-gradient {
			border-bottom: 3px solid #d2443f;
			@include box-shadow(0 1px 2px rgba(0,0,0,0.3));
		}
		.nav-links > li > a {
			padding: 25px 20px;
			text-shadow: 0 1px 1px rgba(0,0,0,0.3);
		}
		.avatar {
			@include transition(all .3s $easing);
		}
	}
}

nav.header-gqa-nav {

	.nav-links {
		padding: 0;
		margin: 0;
		list-style-type: none;
		position: relative;

		> li {
			@include transition(all .3s $easing);

			> a {
				color: #FFF;
				text-decoration: none;
				display: block;
				@include transition(all .3s $easing);

				&:hover { color: white; text-decoration: none; }
			}
		}
	}

	// Avatar on the header
	.avatar-menu {
		&:hover { cursor: pointer; }

		> .dropdown {
			> .dropdown-toggle {
				@include transition(all .3s $easing);
				padding-left: $avatar-xxs + 20 !important;
				display: inline-block;
				color: white;

				.avatar {
					left: 10px;
				}
				.avatar-name {
					display: none;
					@media (min-width: $screen-sm-min) {
						display: block;	
					}
					float: left;
					font-size: 16px;
					max-width: 70px;
					min-width: auto;
					white-space: nowrap;
					overflow: hidden;
					text-overflow: ellipsis;
				}
			}
		}
	}
}

.navbar-bg-img {
	width: 100%;
	height: 280px;
	position: relative;
	z-index: 1;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
	border-bottom: 4px solid $brand-primary;


	&[data-bg="skyscraper-blur"] { background-image: url(../img/bg-skyscraper-blur.jpg); }

	& + .main-content-gqa {
		position: relative;
		z-index: 1;
	}
}

.navbar-bg-gradient {
	background-color: #58aec9;
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
	background-image: url(../img/bg-gradient.jpg);
}

.btn-navicon-gqa {
    display: none;
    border: 1px solid;
    position: absolute;
    top: 0;
    left: 0;
    padding: 28px 15px;
    z-index: 2;

	&, &:active, &:focus {
		outline: none;
	}
}

@import 'gqa-header-mobile.scss';
@import 'gqa-header-desktop.scss';
