// GQA Header Constants
.header-gqa {
	.header-gqa-logo {
		height: 50px;
		width: auto;
		display: inline-block;
		@include transition(all .3s $easing);
		position: relative;

		img { width: inherit; height: inherit; }
	}

	.container {
		position: relative;
		z-index: 1;
	}

	.avatar { @include transition(all .3s $easing); }

	&.compressed {
		.header-gqa-logo {
			height: 50px;
			@include transition(all .3s $easing); 
		}
		.navbar-bg-gradient {
			border-bottom: 1px solid #51a9c3;
			@include box-shadow(0 1px 2px rgba(0,0,0,0.3));
		}
		.nav-links > li > a {
			padding: 25px 20px;
			text-shadow: 0 1px 1px rgba(0,0,0,0.3);
		}
		.avatar {
			@include transition(all .3s $easing);
		}
	}
}

nav.header-gqa-nav {

	.nav-links {
		padding: 0;
		margin: 0;
		list-style-type: none;
		position: relative;

		> li {
			@include transition(all .3s $easing);

			> a {
				color: #FFF;
				text-decoration: none;
				display: block;
				@include transition(all .3s $easing);

				&:hover { color: white; text-decoration: none; }
			}
		}
	}

	// Avatar on the header
	.avatar-menu {
		&:hover { cursor: pointer; }

		> .dropdown {
			> .dropdown-toggle {
				@include transition(all .3s $easing);
				padding-left: $avatar-xxs + 20 !important;
				display: inline-block;
				color: white;

				.avatar {
					left: 10px;
				}
				.avatar-name {
					display: none;
					@media (min-width: $screen-sm-min) {
						display: block;	
					}
					float: left;
					font-size: 16px;
					max-width: 70px;
					min-width: auto;
					white-space: nowrap;
					overflow: hidden;
					text-overflow: ellipsis;
				}
			}
		}
	}
}

.navbar-bg-img {
	width: 100%;
	height: 280px;
	position: relative;
	z-index: 1;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center bottom;
	border-bottom: 4px solid $brand-primary;


	&[data-bg="skyscraper-blur"] { background-image: url(../img/bg-skyscraper-blur.jpg); }

	& + .main-content-gqa {
		position: relative;
		z-index: 1;
	}
}

.navbar-bg-gradient {
	background-color: #58aec9;
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
	background-image: url(../img/bg-gradient.jpg);
}

.btn-navicon-gqa {
    display: none;
    border: 1px solid;
    position: absolute;
    top: 0;
    left: 0;
    padding: 28px 15px;
    z-index: 2;

	&, &:active, &:focus {
		outline: none;
	}
}

.sub-menu {
	.sub-menu-title {
	    padding: 18px 15px;
	    margin: 0;
	}
}

// Defined User Roles
[data-role="account-manager"] {
	.header-gqa {
		.header-gqa-logo {
			&:after {
				position: absolute;
				content: 'Manager';
				font-weight: 600;
				text-transform: uppercase;
				display: block;
				border-radius: 2px;
				background-color: white;
				color: $gray-dark;
				z-index: 1;
				width: auto;
				line-height: 1;
				bottom: 6px;
				right: -14px;
			    padding: 0.20em 0.2em;
			    font-size: 0.72em;
			}		
		}

		&.compressed .header-gqa-logo:after {
			    bottom: 3px;
			    right: -17px;
			    padding: 0.25em 0.2em;
			    font-size: 0.6em;
		}
		&.compressed .navbar-bg-gradient {
			border-bottom: 1px solid #2773c5;		
		}
	}
	.navbar-bg-img[data-bg="skyscraper-blur"] {
		background-image: url(../img/bg-skyscraper2-blur.jpg);
	}
	.navbar-bg-gradient {
		background-image: url(../img/bg-gradient2.jpg);
	}
}
@import 'gqa-header-mobile.scss';
@import 'gqa-header-desktop.scss';

