.footer-gqa {
	@include clearfix();
	color: white;
	background-color: $gray-dark;

	.container {
		padding-top: $grid-gutter-width/4;
		padding-bottom: $grid-gutter-width/4;
	}

	.footer-gqa-logo {
		height: 50px;
		float: left;
	}

	.footer-gqa-nav {
		display: block;
		float: right;
		margin-bottom: 0;
		margin-top: 0;
		padding-right: 55px;

		@media(min-width: 1200px){
			padding-right: 0;
		}
	}

	a {
		&, &:hover, &:active {
			color: $gray-lighter;
		}
	}


}