@mixin messaging-menu() {
	[data-inbox-count] {
		&:after {
			$dim: 20px;
			display: block;
			content: attr(data-inbox-count);
			background-color: $brand-primary;
			color: white;
			padding: 2px 4px;
			border-radius: 4px;
			position: absolute;
			z-index: 5;
			font-size: 12px;
			text-align: center;
			line-height: 1;
			border-top: 1px solid darken($brand-primary,5%);
			border-bottom: 2px solid darken($brand-primary,10%);
			@include calc-sub-two-values(left, 50%, 29px);
			@include calc-sub-two-values(top,50%,$dim+5);
		}
	}
	[data-inbox-count="0"]:after, [data-inbox-count=""]:after  { display: none; }
	.dropdown-menu-messages {
		max-width: 350px !important;
		min-width: 350px !important;
		> li {
			border-top: 1px solid $gray-lighter;
			&:first-child {
				border-top: none;
			}
		}
		> li > a {
			display: table;
			width: 100%;
			padding: 10px 15px;

			> *[class^='dropdown-'], 
			*[class*='dropdown-'] { 
				display: table-cell;
				vertical-align: middle;
			}
		}

		$width: $avatar-xxs;
		.dropdown-avatar {
			width: $width;
			text-align: center;
		}
		.dropdown-messaging {
			@include calc-sub-two-values(width,100%,$width);
			max-height: 2.2em;
			padding-left: 15px;

			* { display: block; }

			label { margin-top: 5px; margin-bottom: 0; }
			.label {
				letter-spacing: 1px;
				font-size: 10px;
				background-color: $gray-lighter;
				color: $gray-dark;
			}
			.label + span { color: $text-muted; }

			p {
				margin-bottom: 0;
				overflow: hidden;
				height: 2.2em;
				line-height: 1.1;
				position: relative;

				&:after {
					display: block;
					position: absolute;
					content: '';
					bottom: 0;
					right: 0;
					width: 140px;
					height: 0.8em;
					@include gradient-horizontal(transparent,white,0,100%);
				}
			}
		}

		> li:hover > a > .dropdown-messaging p:after {
			@include gradient-horizontal(transparent,$dropdown-link-hover-bg,0,100%);
		}
	}
}

@media (min-width: $screen-sm-min) {
	.header-gqa {
		min-width: $screen-sm-max;
		.header-gqa-logo {
			height: 50px;
			margin-top: 30px;
		}

		&.compressed {
			.header-gqa-logo { 
				height: 36px; 
				margin-top: 18px;
			}
			.nav-links li:after {
				top: 0;
				bottom: 0;
				border-radius: 0;
			}
			.nav-links > li > a,
			.avatar-menu > .dropdown > .dropdown-toggle {
				padding: 25px 15px;

				.avatar { top: 15px; }
			}

			nav.header-gqa-nav .dropdown-menu {
				margin-top: 0;
				min-width: 100%;
			}
		}

		.container {
			text-align: initial;
			padding-top: initial;
			padding-bottom: initial;
		}
	}

	nav.header-gqa-nav {
		float: right;
		display: block;

		.nav-links {
			position: relative;
			display: inline-block;
			padding-top: initial;
			z-index: initial;
			min-width: initial;
			background: transparent;
			@include box-shadow(none);

			> li {
				display: inline-block;
				position: relative;	

				&:after {
					@include opacity(0);
					@include transition(opacity, .3s, $easing);
					content: '';
					top: 20%;
					bottom: 20%;
					left: 0;
					right: 0;
					position: absolute;
					z-index: 0;
					border-radius: $border-radius-base;
					background-color: transparentize(#12596b,0.7);
				}

				&:hover:after {
					@include opacity(1);
					@include transition(opacity, .3s, $easing);
				}

				> a {
					padding: 44px 15px;
					font-size: 16px;
					position: relative;
					text-align: initial;
					border-bottom: none;
					z-index: 1;

					&:hover { color: white; text-decoration: none; }
				}
			}
		}

		// Avatar on the header
		.avatar-menu {
			display: block;
			float: right;
			&:hover { cursor: pointer; }

			> .dropdown {
				> .dropdown-toggle {
					padding: 44px 18px;
					padding-left: $avatar-xxs + 20 !important;
					display: inline-block;
					color: white;

					.avatar {
						display: block;
						position: absolute;
						top: 34px;
						left: 10px;
					}
					.avatar-name {
						display: none;
						@media (min-width: $screen-sm-min) {
							display: block;	
						}
						float: left;
						font-size: 16px;
						max-width: 70px;
						min-width: auto;
						white-space: nowrap;
						overflow: hidden;
						text-overflow: ellipsis;
					}
				}
			}
		}

		.dropdown-menu {
			margin-top: -20px;
			min-width: 100%;
		}
	}

	.navbar-bg-img {
		display: block;

		& + .main-content-gqa {
			margin-top: -(($grid-gutter-width*2)+40);
		}
	}

	.navbar-bg-gradient {
		@include opacity(0);
	}

	.btn-navicon-gqa {
		display: none !important;
	}
}

.is-desktop,.is-tablet {
	.header-gqa {
		.header-gqa-logo {
			height: 50px;
			margin-top: 30px;
		}

		&.compressed {
			.header-gqa-logo { 
				height: 36px; 
				margin-top: 18px;
			}
			.nav-links li:after {
				top: 0;
				bottom: 0;
				border-radius: 0;
			}
			.nav-links > li > a,
			.avatar-menu > .dropdown > .dropdown-toggle {
				padding: 25px 15px;

				.avatar { top: 15px; }
			}

			nav.header-gqa-nav .dropdown-menu {
				margin-top: 0;
				min-width: 100%;
			}
		}

		.container {
			text-align: left;
			padding-top: 0;
			padding-bottom: 0;
			min-width: $screen-sm-max;
		}
	}

	nav.header-gqa-nav {
		float: right;
		display: block;

		.nav-links {
			position: relative;
			display: inline-block;
			padding-top: initial;
			z-index: initial;
			min-width: initial;
			background: transparent;
			width: auto;
			@include box-shadow(none);

			> li {
				display: inline-block;
				position: relative;	

				&:after {
					@include opacity(0);
					@include transition(opacity, .2s, $easing);
					content: '';
					top: 20%;
					bottom: 20%;
					left: 0;
					right: 0;
					position: absolute;
					z-index: 0;
					border-radius: $border-radius-base;
					background-color: rgba(0, 0, 0, 0.13);
				}

				&:hover:after {
					@include opacity(1);
					@include transition(opacity, .2s, $easing);
				}

				> a {
					padding: 44px 15px;
					font-size: 16px;
					position: relative;
					z-index: 1;

					&:hover { color: white; text-decoration: none; }
				}
			}
		}

		// Avatar on the header
		.avatar-menu {
			display: block;
			position: relative;
			float: right;
			&:hover { cursor: pointer; }

			> .dropdown {
				> .dropdown-toggle {
					padding: 44px 18px;
					padding-left: $avatar-xxs + 20 !important;
					display: inline-block;
					color: white;

					.avatar {
						display: block;
						position: absolute;
						top: 34px;
						left: 10px;
					}
					.avatar-name {
						display: none;
						@media (min-width: $screen-sm-min) {
							display: block;	
						}
						float: left;
						font-size: 16px;
						max-width: 70px;
						min-width: auto;
						white-space: nowrap;
						overflow: hidden;
						text-overflow: ellipsis;
					}
				}
			}
		}

		.dropdown-menu {
			margin-top: -20px;
			min-width: 100%;
		}

		@include messaging-menu();
	}

	.navbar-bg-img {
		display: block;

		& + .main-content-gqa {
			margin-top: -(($grid-gutter-width*2)+40);
		}
	}

	.navbar-bg-gradient {
		@include opacity(0);
	}

	.btn-navicon-gqa {
		display: none;
	}
}