.panel-qualification-meta {
	width: $qual-card-body-offset;
	overflow: hidden;
	border-top-left-radius: $border-radius-base;
	border-bottom-left-radius: $border-radius-base;
	z-index: 1;

	.panel-qualification-img {
		height: $qual-card-img-height;

		.qual-title { display: none; }
		&:after { display: none; }
	}

	.panel-qualification-desc {
		width: 100%;
	    padding: 30px;
	    margin-bottom: 0;
	    background-size: 153%;
	}
}

.panel-qualification-heading {
	padding: 20px;
	text-align: left;
	@include clearfix();

	.avatar {
		display: block;
		float: left;
		width: 30%;
		height: auto;
	}
	.heading {
		width: 70%;
		display: block;
		padding-left: 15px;
		padding-top: 8px;
		float: left;
		font-weight: 300;
		font-size: 1.6em;

		span {
			display: block;

			&:last-child {
				@include truncate-ellipsis(100%);
			}
		}
	}

	.list-group-notes {

		li {
			border-bottom: none;
		}
	}

	& + .panel-body {
		padding: 30px !important;
	}
}

.panel-qualification-body {
	@include calc-sub-two-values(width, 100%, $qual-card-body-offset);

	.panel-body-group {
		padding: 0;

		.h1,.h2,.h3,.h4,.h5,.h6 { margin-top: 0; }
		.control-label { color: $gray; }
		.qual-title {
			display: block;
			position: relative;
			@include pointing-left-heading(white);
			margin-bottom: 0;
			padding: 15px;
		}
	}

	&:after {
	    display: block;
	    left: -$qual-card-body-offset;
	    right: 0;
	    height: 110%;
	    position: absolute;
	    top: 0;
	    bottom: 0;
	    width: $qual-card-body-offset;
	    background-color: #fcfcfc;
	    background-size: contain , contain;
	    background-repeat: no-repeat, no-repeat;
	    background-position: 0 $qual-card-img-height, left bottom;
	    background-image: url(../img/panel-metadata-top-bg.png) ,url(../img/panel-metadata-bot-bg.png);
	    @include box-shadow(-1px 0 2px rgba(117, 117, 117, 0.08) inset);
	}
}