.panel-qualification-body {
	.panel-body-group {
		.qual-title {
			padding: 40px 60px;
		}
	}
	.panel-qualification-gauges {
		padding: 15px 60px 40px 60px;
		.qual-gauges {

			&:first-child {
				width: $big-circle-width;
			}
			&:nth-child(2) {
				@include calc-sub-two-values(width, 100%, $big-circle-width);
				// progress { width: 100%; }
			}
			&:nth-child(3) {

			}
			&:last-child {

			}
		}
	}
}