.panel-qualification {
	@include clearfix();
	position: relative;
	overflow: hidden;

	*[class^='panel-qualification-'], *[class*=' panel-qualification-']{
    	position: relative;
    	display: block;
    	float: left;
    	min-height: 1px;
	}
}

.panel-qualification-meta {
	width: 100%;
	overflow: hidden;
	border-top-left-radius: $border-radius-base;
	border-bottom-left-radius: $border-radius-base;
	z-index: 1;

	.panel-qualification-img {
		background-size: cover;
		background-repeat: no-repeat;
		background-position: top center;
		width: 100%;
		height: $qual-card-img-height - 50;
		position: relative;

		&:after {
			display: block;
			position: absolute;
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
			content: '';
			@include gradient-vertical(rgba(0,0,0,0.1),rgba(0,0,0,0.5),0,100%);
			z-index: 0;
		}
	}

	.panel-qualification-desc {
		width: 100%;
	    padding: 15px;
	    margin-bottom: 0;

	    dd {
	    	label { 
	    		margin-bottom: 0;
	    		white-space: normal;
	    		font-size: 80%;
	    		display: inline-block;
	    	}
	    	margin-bottom: 15px;
	    }
	}

	.qual-title {
		position: absolute;
		bottom: 15px;
		left: 15px;
		right: 15px;
		margin: 0;
		color: white;
		z-index: 1;
		small { color: white; }
	}
}

.panel-qualification-heading {
	padding: 15px;
	text-align: left;
	background-image: url(../img/qual-welcome-heading.jpg);
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
	border-top-left-radius: $border-radius-base;
	border-top-right-radius: $border-radius-base;
	@include clearfix();

	.avatar {
		float: left;
		width: 25%;
		height: auto;
	}
	.heading {
		width: 75%;
		display: block;
		padding-top: 3%;
		padding-left: 15px;
		float: left;
		font-weight: 300;
		font-size: 1.2em;

		span {
			display: block;

			&:last-child {
				@include truncate-ellipsis(100%);
			}
		}
	}

	.list-group-notes {

		li {
			border-bottom: none;
		}
	}

	& + .panel-body {
		padding: 15px !important;
	}
}

.panel-qualification-body {
	@include clearfix();
	width: 100%;

	.panel-body-group {
		position: relative;
		@include clearfix();
		padding: $grid-gutter-width/4;
		> * { font-weight: 300; }

		.h1,.h2,.h3,.h4,.h5,.h6 { margin-top: 0; display: none;}
		.control-label { color: $gray; }
	}

	.panel-qualification-gauges {
		width: 100%;
		position: relative;
		padding: 15px;

		@include clearfix();

		.qual-gauges {
			position: relative;
			display: block;
			float: left;

			&:first-child {
				width: $big-circle-width;
			}
			&:nth-child(2) {
				width: 100%;

				.progress-tag-danger .progress-details:after {
					display: block;
					content: '\f1f1';
					font-family: 'Material-Design-Iconic-Font';
					color: $brand-danger;
					font-size: 1.6em;
					position: absolute;
				    top: -15px;
				    left: 30px;
				}
			}
			&:nth-child(3) {

			}
			&:last-child {

			}

			progress { width: 100%; }
		}
	}

	&:after {
	    display: block;
	    left: -$qual-card-body-offset;
	    right: 0;
	    height: 100%;
	    position: absolute;
	    top: 0;
	    bottom: 0;
	    width: $qual-card-body-offset;
	    background-color: $gray-lighter;
	}
}

.panel-qualification-footer {

	border-top: 1px solid $gray-lighter;
	width: 100%;
	.btn {
		text-align: left;
		text-transform: uppercase;
		padding: 20px 25px;
		outline: none !important;
	}
}

.progress-big-label {
    font-size: $font-size-base;
    display: block;
    white-space: normal;
    word-break: break-word;
    line-height: 1.2;
    font-weight: 400;
    text-transform: uppercase;
	left: 15%;
	right: 15%;
	top: 70%;
	position: absolute;
}

.core-units:before, .elective-units:before {
	content: 'Core Units';
	display: block;
	font-size: $font-size-h6;
	font-weight: 400;
	text-transform: uppercase;
    position: absolute;
    top: 60%;
    text-align: center;
    left: 0;
    right: 0px;
    color: $gray;
    z-index: 5;
}

.elective-units:before { content: 'Elective Units'; }
.core-units:before { content: 'Core Units'; }

#congratulatoryPopup {
	
}