@import '../../bootstrap/_variables.scss';
@import '../../bootstrap/mixins/';

$qual-card-body-offset: 220px;
$qual-card-img-height: 220px;
$big-circle-width: 210px;

@import 'tutorial.scss';
@import "320";

@media screen and (min-width: 568px) {
    @import "568";
}
@media screen and (min-width: $screen-sm) {
    @import "768";
}
@media screen and (min-width: 1105px) {
    @import "1024";
}
@media screen and (min-width: $screen-lg) {
    @import "1200";
}

@import 'circle-media-queries';