<div class="modal modal-onboarding fade" tabindex="-1" role="dialog" id="congratulatoryPopup">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-title text-center">
                <h2 class="lead">Good job in completing your enrolment form, <span>{{ userObj.getUsername() }}</span>!</h2>
                <p class="lead">You are now in your RPL Overview page, and ready to upload your evidence!</p>
            </div>

            <div class="modal-body clearfix text-center">
                <div class="col-xs-12">
                    <div class="inner">
                        <img src="{{ asset('public/ui/img/graphic-complete-form.png') }}">
                    </div>
                </div>
                <button class="btn btn-primary btn-lg clear overview-lets-get-started" data-dismiss="modal" aria-label="Close">LET'S GET
                    STARTED!
                </button>
            </div>
        </div>
    </div>
</div>