<div class="modal modal-onboarding fade" tabindex="-1" role="dialog" id="congratulatoryPopup">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-title text-center">
                <h2 class="lead">Good job in completing<br>your enrolment form, <span>{{ userFName }}</span>!
                    <p>You are now in your RPL Overview page, and ready to upload your evidences!</p>
                </h2> 
            </div>

            <div class="modal-body clearfix text-center">
                <div class="col-xs-12 col-sm-6 col-sm-offset-3">
                    <div class="inner">
                        <img src="{{ asset('public/ui/img/graphic-complete-form.png') }}" class="img-responsive">
                    </div>
                </div>
                <button class="btn btn-success btn-lg clear" data-dismiss="modal" aria-label="Close">Let's go see your <span>Qualifications</span></button>
            </div>
        </div>
    </div>
</div>