<div class="accordian_block">
    <div class="title_bar clearfix">
        <span class="title">EVIDENCE - <strong>(10 TO REVIEW)</strong></span>
        <span class="add_btn">ADD
                <i class="material-icons add_icon">add</i>
        </span>
    </div>
    <div class="panel-group" id="accordion7">
        <div class="panel panel-default">
            <div class="panel-heading">
                <div class="panel-title">
                    <span>3 new uploads</span>
                    <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#e_collapse1">
                      <i class="material-icons keyboard_arrow_down">keyboard_arrow_down</i>
                    </a>
                </div>
            </div>
            <div id="e_collapse1" class="panel-collapse collapse">
                <div class="panel-body">
                        text
                </div>
            </div>
        </div>
    </div>
</div>