{% extends 'revamp_base.html.twig' %}
{% block title %}GQ - RPL Access Denied{% endblock %}
{% block body %}
<main class="main-content-gqa">
        <div class="container">
             <div class="panel panel-entry">
                 <div class="body_section">
                     <div class="body_section facilitator" style="height: 382px;">
                         <div class="container">
                             <div class="row">
                                 <div class="col-md-12 col-lg-11"> <br><br>
                                     <h1 class="gq-dashboard-title">Access Denied</h1>
                                     <h6 class="gq-dashboard-title-desc">Your are not authrorized to view this page</h6>
                                 </div>
                             </div>
                         </div>
                     </div>
                 </div>
             </div>
         </div>
    </main>
{% endblock %}