{% extends 'base.html.twig' %}
{% block title %}GQ - RPL Access Denied{% endblock %}
{% block body %}
    <div class="col-lg-11 col-md-10 col-sm-10 col-xs-12 gq-dashboard-right">
        <div class="row">
            <div class="col-xs-12">
                <h1 class="gq-dashboard-title">Access Denied</h1>
                <h6 class="gq-dashboard-title-desc">Your are not authrorized to view this page</h6>
            </div>
        </div>
  </div>
{% endblock %}