{% extends 'base.html.twig' %}
{% block title %}GQ - RPL Dashboard{% endblock %}
{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('public/css/pages/all/superadmin_dashboard.css') }}">
{% endblock %}
{% block body %}
    <div class="body_section">
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <div class="profile_section hidden-xs">
                        <h2>Dashboard</h2>
                        <p>Welcome to GQ Australia Online RPL</p>
                    </div>
                </div>
            </div>            
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                    <div class="module_section">
                        <h5>Number of Users</h5>
                        <div class="applicant_section">
                            <p class="count_title">Total Number of Users</p>
                            <p class="count">{{ totalUsers }}</p>
                        </div>
                    </div>
                    <div class="module_section">
                        <h5>Portfolios</h5>
                        <div class="applicant_section">
                            <p class="count_title">Total Number of Portfolios</p>
                            <p class="count">{{ totalPortfolios }}</p>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                    <div class="module_section">
                        <h5>File Size</h5>
                        <div class="applicant_section">
                            <p class="count_title">Total File Size</p>
                            <p class="count">{{ totalFiles }}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}