{% extends 'base.html.twig' %}
{% block title %}GQ - RPL Dashboard{% endblock %}
{% block stylesheets %}
<link rel="stylesheet" href="{{ asset('public/css/pages/all/common_dashboard.css') }}">
{% endblock %}
{% block body %}
{% set roles = app.security.getToken().getUser().getRoles() %}
    <div class="body_section dashboard">
        <div>
            <div id="err_msg"></div>
            <div class="">
                {% if ('ROLE_FACILITATOR' in roles) or ('ROLE_ASSESSOR' in roles) or ('ROLE_MANAGER' in roles) %}
                    <div class="">                              
                        {% include 'GqAusHomeBundle:Default:mobile/todolist.html.twig' %}
                    </div>
                {% endif %}                    
                    <div class="">
                        {% include 'GqAusHomeBundle:Default:mobile/dashboard-messages.html.twig' %}
                    {% if ('ROLE_RTO' in roles) %}
                    </div>
                    <div class="">
                    {% endif %}                                
                            {% include 'GqAusHomeBundle:Default:mobile/dashboard-portfolio.html.twig' %}
                        {% if ('ROLE_FACILITATOR' in roles) or ('ROLE_ASSESSOR' in roles) %}
                            {% include 'GqAusHomeBundle:Default:mobile/dashboard-evidences.html.twig' %}
                        {% endif %}
                    </div>
            </div>
        </div>
{% endblock %}
{% block javascripts %}
    <script src="{{ asset('public/js/codex-fly.js') }}"></script>   
 {% endblock %}