@mixin mobile-panel(){
	.panel-right{
		width: 100%;
		top: 60px !important;
		position: fixed !important;
		left: 0 !important;
		right: 0 !important;
		z-index: 3 !important;
	}

	.panel-units{
		#panelLeft{
			@include transition(none);

			&.is-active{
				width: 100%;
			}
		}
	}
}

// .progress{
// 	clear:both;
// 	float: right;

// 	.progress-bar-danger{
// 		background: $brand-red;
// 	}

// 	.progress-bar-success{
// 		background: $brand-green;
// 	}

// 	.progress-bar-warning{
// 		background: $brand-warning;
// 	}
// }
.panel-units{
	position: relative;
	min-height: 500px;
	clear: both;
	.panel-units-heading{
		padding: 0 0 10px;
		border-bottom: 1px solid $gray-lighter;
		.form-group{
			margin: 0 $grid-gutter-width / 4 0;
		}	
	}

	.panel-left{
		width: 100%;
		//@include transition(all 0.1s $easing);
		.list-group-units ul li{	 
			&:first-child{
				padding: 0 10px; 
				margin: 20px 0 $grid-gutter-width / 8 0;
				font-weight: normal;
				text-transform: uppercase;
				&:before{
					content: none;
				}
			}
		}

		.clone,
		.clone-bottom{
			background: #fff; 
			overflow: hidden;
			z-index: 2;
			
			&.transform{
				@include transition(all 2s $easing);
			}

			ul{
				margin: 0;
				&.has-active-header li{
					padding: 5px;
					font-weight: normal;
					text-transform: uppercase;
				}

				li{

					&.btn{
						text-align: left;
					}
				}
			}
		}

		.clone-bottom{
			ul.has-active-unit li{
				padding-top: 8px;
			}
		}
	}
}
.panel-right{
	position: absolute;
	background: #fff;
	height: 100%;
	overflow: auto;
	max-height: 100%;
	width: 50%;
	right: 0;
	top: 0;
	border-left: 1px solid $gray-lighter;
    margin-bottom: 0;
	@include transition(opacity 0.3s $easing); 

	a{
		float: none;
		line-height: 0.6;
		
		i{
			margin-right: $grid-gutter-width / 4;
			font-size: 22px;
		}
	}

	.close{
		@include opacity(1);
		color: $brand-red;
		font-size: 28px;
	}

	&.unfixed{
		position: absolute !important;
		right: 0 !important;
		bottom: 0 !important;
		top: auto !important;
	}

	@include clearfix;

	.panel-accordion{
		margin: 0;
		clear: both;
		
	}
	&.invisible{
		opacity: 0;
		z-index: -1;
	}

	&::-webkit-scrollbar{
		background: #fff;
		width: 8px;
		margin-left: 20px;
	}
	&::-webkit-scrollbar-thumb{
		background: $gray-lighter;
		@include border-radius(20px);
		width: 10px;
		padding: 20px;
	}
}

.modal-unit-details{
	.modal-header{
		a{
			margin-right: 15px; 
		}
	}

	.modal-dialog, .modal-content{
		position: absolute;
		left: 0;
		right: 0;
		height: 95%;
    	overflow: hidden;

		.modal-body{
			position: absolute;
			height: 95%;
			overflow: auto;
		}
	}

	table{
		ol{
			list-style: none;
			padding: 0;

			li{
				margin-bottom: $grid-gutter-width / 4;
			}
		}
	}
}

#uploadEvidences{
	h4, p{
		margin: 0;
	}	

	.dropdown{
		margin-top: $grid-gutter-width / 3;
	}
}

@media screen and (min-width: $screen-phone){
	@import 'screen-phone';
}

@media screen and (min-width: 569px){
	@import 'screen-tablet-smaller';
}

@media screen and (min-width: $screen-tablet){
	@import 'screen-tablet';
}

.is-mobile{
	@include mobile-panel;
}



