 <div class="container container-two-column-split" data-panel-parent="two-column-split" ng-show="qualificationPage == 'elective' && IsLoaded && electiveUploadSelected">
            <section class="section-main col-section-10" ng-class="{'col-section-5': is_open === true, 'col-section-10': is_open === false}" data-panel="left">
                <div class="panel panel-default panel-units">
                    <div class="panel-body">

                        <div class="progress-tag progress-tag-default">
                            <h3>Your Elective Units</h3>
                            <progress style="width: 100%" role="progress" value="{[{percentElectiveSubmitted()}]}" max="100"><img class="fallback" width="30"></progress>
                            <figcaption class="progress-details"> <span class="unit-percent">{[{percentElectiveSubmitted()}]}</span> complete</figcaption>
                        </div>
                         <div class="dropdown dropdown-unit-filter">
                                <button type="button" class="btn btn-default text-left btn-sm" data-toggle="dropdown">
                                    <i class="zmdi zmdi-filter-list zmdi-hc-lg zmdi-hc-fw"></i> <span class="filter-text">Filter by Unit Status</span>
                                    <i class="zmdi zmdi-chevron-down zmdi-hc-lg zmdi-hc-lg zmdi-hc-fw"></i>
                                </button>
                                <div class="dropdown-menu pull-right">
                                    <div class="btn-group btn-group-vertical progress-summary" data-toggle="buttons">
                                        <label class="progress-summary-item btn btn-default" data-status="notyetstarted" for="unitFilter">
                                            <input type="radio" name="unitFilter"><strong>12</strong><small>Not yet started</small>
                                        </label> <!-- white -->
                                        <label class="progress-summary-item btn btn-default" data-status="submitted" for="unitFilter">
                                            <input type="radio" name="unitFilter"><strong>1</strong><small>Submitted</small>
                                        </label> <!-- orange -->
                                        <label class="progress-summary-item btn btn-default" data-status="satisfactory" for="unitFilter">
                                            <input type="radio" name="unitFilter"><strong>4</strong><small>Satisfactory</small>
                                        </label> <!-- black -->
                                        <label class="progress-summary-item btn btn-default" data-status="notyetsatisfactory" for="unitFilter">
                                            <input type="radio" name="unitFilter"><strong>4</strong><small>Not yet satisfactory</small>
                                        </label> <!-- red -->
                                        <label class="progress-summary-item btn btn-default" data-status="competent" for="unitFilter">
                                            <input type="radio" name="unitFilter"><strong>5</strong><small>Competent</small>
                                        </label> <!-- green -->
                                        <label class="progress-summary-item btn btn-default" data-status="notyetcompetent" for="unitFilter">
                                            <input type="radio" name="unitFilter"><strong>6</strong><small>Not yet competent</small>
                                        </label> <!-- red -->
                                    </div>
                                </div>
                            </div>

                        <div class="list-group list-group-units panel-accordion">
                            <ul class="list-group-units-item units-selected" ng-repeat="electiveGroup in electiveUnits.groups" data-unit-group="{[{electiveGroup.name || ''}]}"> 
                                <li class="list-group-units-subitem" ng-class="{'active': is_open === true && elective.id === selectedUnit }"  ng-click="showUnitUpload(elective)" ng-repeat="elective in electiveGroup.unit | inArrayFilter:selectedElectiveUnits:'id'">
                                    <div class="btn-group">
                                        <button type="button" class="btn">
                                            <span class="unit-name">{[{elective.name}]}</span>
                                            <span class="unit-status"><label for="{[{elective.name}]}" class="label label-warning">Evidence Needed</label></span>
                                        </button>
                                    </div>
                                </li>
                      

                            </ul>

                        </div>
                         <hr>
                        <h6>Want to change your selected elective units?</h6>
                        <a ng-click="reSelectEvidenceUnit()" class="btn btn-default btn-xs"><i class="zmdi zmdi-swap zmdi-hc-lg zmdi-hc-fw"></i> Reselect Units</a>
                    </div>
                </div>
            </section>
            <section class="section-main col-section-0" ng-class="{'col-section-5': is_open === true, 'col-section-0': is_open === false}" data-panel="right">
                <div class="panel panel-default panel-upload-evidence" ng-class="{'in': is_open === true}">
                   <div class="panel-upload-buttons">
                        <button type="button" class="btn btn-sm"><i class="zmdi zmdi-open-in-new zmdi-hc-lg zmdi-hc-fw"></i></button>
                        <button type="button" class="btn btn-sm btn-panel-close"><i class="zmdi zmdi-hc-lg zmdi-hc-fw"></i> <span>Back</span></button>
                    </div>
                    <div class="panel-body">
                        <div class="panel-accordion" role="tablist" aria-multiselectable="false">
                            
                            <!-- About this Unit -->
                            <article class="form-group">
                                <h3 class="panel-heading-text">About this unit</h3>
                                <div class="panel-collapse-inner">
                                    <ol class="list-bullet list-unstyled">
                                        <li><a class="btn-link" href="#" ng-click="show_details('elements','Elements and performance criteria')" >Elements and performance criteria</a></li>
                                        <li><a class="btn-link" href="#" ng-click="show_details('skills_and_knowledge','Required skills and knowledge')" >Required skills and knowledge</a></li>
                                        <li><a class="btn-link" href="#" ng-click="show_details('evidence_guide','Evidence Guide and Range Statement')" >Evidence Guide and Range Statement</a></li>
                                    </ol>
                                </div>                             
                            </article>
                            <!-- About this Unit -->

                            <!-- Upload Evidences -->
                            <article class="form-group">
                                <h3 class="panel-heading-text" data-toggle="collapse" data-target="#collapseEvidences" aria-expanded="true" aria-controls="collapseAbout">Evidence<i class="zmdi zmdi-chevron-down"></i></h3>

                                <div id="collapseEvidences" class="panel-collapse collapse in collapsed">
                                    <div class="panel-collapse-inner" ng-if="evidence.count === 0">
                                        <section class="upload-control" data-toggle="modal" data-target="#uploadEvidence" data-keyboard="false" data-backdrop="static">
                                            <i class="zmdi zmdi-cloud-upload zmdi-hc-5x"></i>
                                            <h4>
                                                No evidence for this unit yet <br>
                                                <button type="button" class="btn-link">Upload evidence now</button>
                                            </h4>
                                            <!-- <input class="upload-control-input" type="file" id="uploadID"> -->
                                        </section>
                                    </div>

                                    <div class="panel-collapse-inner" data-has-thumbnail="true">
                                        <div>
                                            <label style="margin-top: 10px;"><span>{[{(unitEvidences| filter:{type: '!text'}).length}]}</span> evidences</label>
                                            <div class="btn-auto-group">
                                                <button type="button" class="btn btn-primary btn-sm" data-toggle="modal" data-target="#uploadEvidence" data-keyboard="false" data-backdrop="static"> <i class="zmdi zmdi-upload zmdi-hc-lg zmdi-hc-fw"></i> Upload Evidence</button>
                                            </div>
                                        </div>
                                        <ul class="thumbnail-group card-view" {#ng-class="'card-view': evidence.view === 'card', 'list-view': evidence.view === 'list'"#}>
                                            <li class="thumbnail-group-item" ng-repeat="evidence in unitEvidences| filter:{type: '!text'}" data-file-type="{[{data.type}]}" data-has-icon="{[{data.type == 'image'?'false':'true'}]}">
                                                <div class="thumbnail-holder">
                                                    <div class="thumbnail-header" ng-if="evidence.type == 'image'" style="background-image: url('{[{evidence.s3Path}]}')" title="Evidence Name Here">
                                                    </div>
                                                    <div class="thumbnail-body" ng-if="evidence.type == 'image'">                                
                                                            <span data-column-name="filename" data-filename="{[{evidence.s3Path}]}">{[{evidence.name}]}</span>
                                                            <a class="btn" data-trigger="preview-file" ng-click="showEvidenceModal(evidence)">Preview</a>
                                                        </div>
                                                    <div class="thumbnail-header" title="{[{evidence.name}]}" ng-if="evidence.type != 'image'">
                                                        <i class="zmdi thumbnail-icon" ng-class="{'zmdi-file-text': evidence.type == 'file' && evidence.fileType != 'pdf', 'zmdi-collection-pdf': evidence.type == 'file' && evidence.fileType == 'pdf' , 'zmdi-headset': evidence.type == 'audio', 'zmdi-headset': evidence.type == 'recording', 'zmdi-collection-video': evidence.type == 'video'}"></i>
                                                        <div class="thumbnail-body">                                
                                                            <span data-column-name="filename" data-filename="{[{evidence.s3Path}]}">{[{evidence.name}]}</span>
                                                            <a ng-if="evidence.type != 'file'" class="btn" data-trigger="preview-file" ng-click="showEvidenceModal(evidence)">Preview</a>
                                                            <a ng-if="evidence.type == 'file'" target= "_blank" class="btn" href="{[{evidence.s3Path}]}">Preview</a>
                                                        </div>
                                                    </div>
                                                </div>
                                                
                                            </li>
                                            
                                        </ul>
                                    </div>
                                </div>
                            </article>
                            <!-- Upload Evidences -->

                            <!-- Self Assess Notes -->
                            <article class="form-group">
                                <h3 class="panel-heading-text" data-toggle="collapse" href="#collapseNotes" aria-expanded="true" aria-controls="collapseAbout">Self Assessment Notes <i class="zmdi zmdi-chevron-down"></i></h3>

                                <div id="collapseNotes" class="panel-collapse collapse in collapsed">
                                    <div class="panel-collapse-inner">
                                        <div class="click-to-edit" {#ng-class="'view': assessmentNote !== 'edit' " ng-click="editAssessmentNotes()"#}>
                                            <textarea class="form-control" readonly {#ng-readonly="assessmentNoteMode === 'view' "#}>t is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English.</textarea>

                                            <div class="center-block text-right click-to-edit-actions">
                                                <button type="button" class="btn btn-default btn-xs" ng-click="">Discard</button>
                                                <button type="button" class="btn btn-primary btn-xs"{# ng-disabled="assessment === '' "#} ng-click="">Save Note</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </article>
                            <!-- Self Assess Notes -->

                            <!-- Notes from Account Manager -->
                            <article class="form-group">
                                <h3 class="panel-heading-text" data-toggle="collapse" data-target="#collapseManagerNotes" aria-expanded="true" aria-controls="collapseAbout">
                                    <span ng-if="role === 'Candidate' ">Notes from your Account Manager</span>

                                    <!-- <span ng-if="role === 'Candidate' ">Your Notes</span> -->
                                    <i class="zmdi zmdi-chevron-down"></i>
                                </h3>
                            
                                <div id="collapseManagerNotes" class="panel-collapse collapse in collapsed">
                                    <div class="panel-collapse-inner">
                                        <section class="message-thread">
                                            <div class="message-thread-item">
                                                <div class="message-avatar avatar avatar-xxs"><img src="{{ asset('public/ui/img/avatar-default.png') }}" alt="You"></div>
                                                <div class="message-post">
                                                    <strong class="message-avatar-name">Malou Wang <small class="text-muted">Account Manager</small></strong>
                                                    <small class="message-stamp">02/12/2017</small>
                                                    <p class="message-text">The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English.</p>

                                                    <span class="message-post-footer-button"{# ng-if="role === 'candidate' "#}>
                                                        <button type="button" class="btn btn-link btn-sm acknowledged" {#ng-class="'acknowledged' : messageItemStatus === 'acknowledged' " ng-click="acknowledgeMessage()"#}>
                                                            <i class="zmdi zmdi-thumb-up zmdi-hc-lg"></i> Got it!
                                                        </button>

                                                        <label class="text-success"><i class="zmdi zmdi-check-circle"></i> Acknowledged</label>
                                                    </span>
                                                </div>
                                            </div>

                                            <div class="message-thread-item">
                                                <div class="message-avatar avatar avatar-xxs"><img src="{{ asset('public/ui/img/avatar-default.png') }}" alt="You"></div>
                                                <div class="message-post">
                                                    <strong class="message-avatar-name">Malou Wang <small class="text-muted">Account Manager</small></strong>
                                                    <small class="message-stamp">02/12/2017</small>

                                                    <p class="message-text" ng-if="messageItem !== 'edit' ">The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English.</p>

                                                    <div class="messsage-text text-right"{# ng-if="messageItem !== 'edit'"#}>
                                                        <textarea rows="1" autofocus class="form-control" auto-expand style="margin-bottom: 15px;" placeholder="Your message here...">The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English.</textarea>
                                                        <button type="button" class="btn btn-default btn-xs">Discard</button>
                                                        <button type="button" class="btn btn-primary btn-xs">Apply changes</button>
                                                    </div>

                                                    <div class="dropdown message-thread-item-dropdown"{# ng-if="role !== 'candidate' "#}>
                                                        <button type="button" class="btn dropdown-toggle" data-toggle="dropdown">
                                                            <i class="zmdi zmdi-more zmdi-hc-lg zmdi-hc-fw"></i>
                                                        </button>
                                                        <ul class="dropdown-menu pull-right">
                                                            <li><a href="#"><i class="zmdi zmdi-edit zmdi-hc-lg zmdi-hc-fw"></i> Edit</a></li>
                                                            <li><a href="#"><i class="zmdi zmdi-delete zmdi-hc-lg zmdi-hc-fw"></i> Delete</a></li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="message-input"{# ng-if="role !== 'candidate' "#}>
                                                <textarea cols="30" rows="2" class="form-control" auto-expand placeholder="Type your message here..."></textarea>
                                                <button type="button" class="btn btn-link btn-send"><i class="zmdi zmdi-mail-send zmdi-hc-2x"></i></button>
                                            </div>
                                        </section>
                                    </div>
                                </div>
                            </article>
                            <!-- Notes from Account Manager -->

                            <div class="btn-auto-group">
                                <button class="btn btn-default">Save</button>
                                <button class="btn btn-success">Submit this Unit for Assessment</button>
                            </div>
                        </div>
                    </div>
                
                </div>
            </section>
        </div>
   