.panel-qual-heading {
	.panel-heading {
		padding: $grid-gutter-width/2;
		* { color: white !important; }
	}
	.panel-heading-img {
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		background-size: cover;
		background-position: top center;
		border-radius: $panel-border-radius;
		z-index: 0;
		&:after {
			display: block;
			position: absolute;
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
			content: '';
			@include gradient-vertical(rgba(0,0,0,0.1),rgba(0,0,0,0.5),0,100%);
			z-index: 0;
		}
	}

	.nav-tabs {
		text-align: center;
		background-color: rgba(255,255,255,0.93);
		position: relative;
		border-bottom: 2px solid #c5c5c5;
		li {
			float: none;
			display: inline-block;
			a {
				
			}
		}
	}
}

