.panel-qual-heading {

	&.panel-avatar-tab {
		.panel-heading {
			padding: $grid-gutter-width/4;
			padding-top: 0;

			* { text-align: center; }
		}
		.panel-heading-img {
			padding-top: 15px;
			.avatar {
				$dim: 100px;
				width: $dim;
				height: $dim;
				max-width: $dim;
				max-height: $dim;
			}
		}
	}
	&:not(.panel-avatar-tab) {
		// padding: $grid-gutter-width/2;
		.panel-heading {
			height: 170px;
			.qual-title {
				position: absolute;
				bottom: 15px;
				left: 15px;
				right: 15px;
			}
			* { color: white !important; }
		}
		.panel-heading-img {
			position: absolute;
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
			background-size: cover;
			background-position: top center;
			border-radius: $panel-border-radius;
			z-index: 0;
			&:after {
				display: block;
				position: absolute;
				top: 0;
				left: 0;
				right: 0;
				bottom: 0;
				content: '';
				@include gradient-vertical(rgba(0,0,0,0.1),rgba(0,0,0,0.5),0,100%);
				z-index: 0;
			}
		}
	}

	.nav-tabs {
		text-align: center;
		background-color: rgba(255,255,255,0.93);
		position: relative;
		border-bottom: 2px solid #c5c5c5;
		li {
			float: none;
			display: inline-block;
			a {
				
			}
		}
	}
}

