$selected-bg: #70bdc7;

.list-group-units {
	$top-spacing: 30px;
	margin-top: 0;
	.list-group-units-item {
		padding: 0;
		margin: 0;
		margin-top: $top-spacing*2;
		position: relative;

		&:before {
			display: block;
			clear: both;
			content: attr(data-unit-group);
			text-transform: uppercase;
			font-weight: 500;
			color: $gray-dark;
			margin-bottom: 7px;
			position: absolute;
			top: -$top-spacing;
		}

		.list-group-units-subitem {
			list-style-type: none;
			position: relative;
			width: 100%;
			border: 1px solid lighten($gray-lighter,2%);
			background: lighten($gray-lighter,4%);
			margin-bottom: 5px;

			.label{
				line-height: 1.3;
				float: right;
				margin-bottom: 0;
				position: absolute;
				top: 10px;
				right: $grid-gutter-width / 5;
			}
		}

		$btn-width: 60px;
		.btn-group {
			width: 100%;
			position: relative;
			z-index: 1;

			.btn {
				text-align: left;
				font-size: 1.2em;
				font-weight: 400;
				background-color: transparent;
				border: none;
				border-radius: 0;
				padding: $padding-large-vertical $padding-large-horizontal;
				padding-right: $padding-large-horizontal*2;
				@include transition(background-color .3s $easing);

				&:hover {
					background-color: $gray-lighter;
				}

				&:focus, &:active {
					@include box-shadow(none);
					outline: none !important;
				}

				i { right: 20px; font-size: 1.4em; }
			}
			.btn:first-of-type {
				@include calc-sub-two-values(width, 100%, $btn-width);
				@include box-shadow(0 1px 0 $gray-lighter);

				&:hover {
					@include transition(background-color .3s $easing);
				}

				$unit-code-width: 90px;
				.unit-name {
					@include calc-sub-two-values(width, 100%, $unit-code-width);
					white-space: nowrap;
					overflow: hidden;
					text-overflow: ellipsis;
					display: block;
				}

				.unit-code {
					width: $unit-code-width;
					text-align: right;
					max-width: $unit-code-width;
					display: block;
					font-size: $font-size-base;
					position: absolute;
					@include calc-sub-two-values(top, 50%, 9px);
					right: 50px;
				}
			}
			.btn:first-of-type + .btn {
				position: absolute;
				top: -1px;
				bottom: -1px;
				right: -1px;
				color: white;
				background-color: lighten($gray-base, 70%);
				padding: 8px 15px;
				text-align: center;
				width: $btn-width + 1;
				border: none;
				border-radius: 0;

				&:active {
					background-color: lighten($gray-base, 30%);
				}
				&:hover {
					background-color: lighten($gray-base, 60%);
				}

				i:before { content: '\f275'; }
			}
		}
	}

	.panel-collapse > p {
		padding: $padding-large-vertical*2 $padding-large-horizontal;
		margin: 0;
		background-color: white;
	}
}

// Disabled state of the unit items if user already met the max required elective units
.list-group-units.disable-not-selected {
	$disabled-color: #ececec;
	.list-group-units-item {
		.list-group-units-subitem:not(.selected) {
			background-color: $disabled-color;
			border-color: $disabled-color;

			&:hover {
				.btn-group .btn {
					background-color: $disabled-color !important;
					color: darken(#8a8a8a,6%);
					cursor: not-allowed;
				}
			}

			.btn-group .btn {
				color: #8a8a8a;

				&:first-of-type {
					@include box-shadow(0 1px 0 $disabled-color);
					&:hover {
						background-color: $disabled-color;
					}
				}
				&:first-of-type + .btn {
					background-color: $disabled-color;
					border: 1px solid $disabled-color;
					border-bottom-color: $disabled-color;
					border-left: none;

					i:before { content: '\f119'; }
				}
			}
		}
	}
}

.list-group-units-item {

	// State if a unit item is selected/currently active
	.list-group-units-subitem.selected {
		background-color: $selected-bg;
		border-color: darken($selected-bg,10%);

		&:hover {
			.btn-group .btn {
				background-color: darken($selected-bg,10%) !important;
			}
		}

		.btn-group .btn {
			color: white;

			&:first-of-type {
				@include box-shadow(0 1px 0 darken($selected-bg,15%));
				&:hover {
					background-color: darken($selected-bg,10%);
				}
			}
			&:first-of-type + .btn {
				background-color: $selected-bg;
				border: 1px solid darken($selected-bg,10%);
				border-bottom-color: darken($selected-bg,15%);
				border-left: none;

				i:before { content: '\f26b'; }
			}
		}
	}

	// State if a unit item is already on the selected bucket/panel
	.list-group-units-subitem.selected.chosen {

		.btn-group .btn {
			&:first-of-type {
				padding-right: 90px;

				.unit-name {
					width: 96%;
				}
				.unit-code {
					right: 10px;
				}
			}
			&:first-of-type + .btn {
				i:before { content: '\f270' !important; }
			}
		}
	}

	// State if a unit item is already locked / can't be deselected
	.list-group-units-subitem.selected.chosen.locked {
		background-color: darken($selected-bg,10%);
		border-color: darken($selected-bg,10%);

		.btn-group .btn {
			&:first-of-type {
				padding-right: 90px;

				.unit-name {
					width: 96%;
				}
				.unit-code {
					right: 10px;
				}
			}
			&:first-of-type + .btn {
				background-color: darken($selected-bg,10%);
				border: 1px solid darken($selected-bg,10%);
				border-bottom-color: darken($selected-bg,15%);
				i:before { content: '\f190' !important; }
			}
			&:hover {
				cursor: not-allowed;
			}
		}

		& + .tooltip {
			left: auto !important;
			right: -15px;
			.tooltip-inner {
				max-width: 250px;
			}
			.tooltip-arrow {
				left: auto !important;
				right: 40px !important;
			}
		}
	}

	&.units-selected {
		.list-group-units-subitem {
			.btn-group {
				.btn:first-of-type {
					width: 100%;
				}

				.unit-status {
					position: absolute;
					top: 15px;
					right: 15px;
					bottom: 15px;
					font-size: 14px;
					width: 130px;
					display: block;

					.label {
						position: relative;
						top: auto;
						right: auto;
						cursor: pointer;
					}
				}
			}
		}

		.list-group-units-subitem.active {
			background-color: $selected-bg;
			border-color: darken($selected-bg,10%);

			.btn-group .btn {
				color: white;
				background-color: transparent;

				&:first-of-type {
					@include box-shadow(0 1px 0 darken($selected-bg,15%));
				}

				&:hover, &:hover * {
					cursor: default;
				}

				.label {
					border: 1px solid darken($selected-bg, 15%);
					border-bottom: 1px solid darken($selected-bg, 24%);
				}
			}

			&:before {
				
				content: '';
				position: absolute;
				top: -1px;
				bottom: -1px;
				left: 100%;
				right: 0;
				background-color: $selected-bg;
				border-top: 1px solid darken($selected-bg,10%);
				border-bottom: 1px solid darken($selected-bg,15%);

				@media (max-width: $screen-xs-max) {
					display: none;
				}
				@media (min-width: $screen-xs + 1) and (max-width: $screen-xs-max) {
					width: 15 + $panel-body-padding;
				}
				@media (min-width: $screen-sm-min) {
					display: block;
					width: 15 + ($panel-body-padding/2);
				}
				@media (min-width: $screen-md-min) {
					width: 15 + $panel-body-padding;
				}
				@media (min-width: $screen-lg-min) {
					width: 15 + ($panel-body-padding*2);
				}
			}


			// &:hover {
			// 	.btn-group .btn {
			// 		background-color: darken($selected-bg,10%) !important;
			// 	}

			// 	&:before {
			// 		cursor: pointer;
			// 		background-color: darken($selected-bg,10%) !important;
			// 	}
			// }
		}
	}
}

.unit-count {
    position: absolute;
    top: 15px;
    right: 30px;
    font-size: 2.8em;
    font-weight: 300;
    color: $gray-light;

    small { font-size: 60%; }
}
.animated-checklist {
	width: 150px;
	height: 120px;
	position: relative;
	margin: auto;
	margin-top: 30px;

	i.list {
		display: block;
		width: 100%;
		height: 24px;
		margin-bottom: 10px;
		background-color: lighten($gray-lighter,3%);
		position: relative;
		overflow: hidden;
		@include transition(background .3s $easing);

		&:before {
			content: '\f278';
			font-size: 1.3em;
			position: absolute;
			right: 6px;
			top: 3px;
			color: gray;
			@include transition(top .3s $easing);
		}

		&:after {
			content: '\f26b';
			font-size: 1.3em;
			position: absolute;
			right: 6px;
			top: 100%;
			color: gray;
			@include transition(top .3s $easing);
		}
		@include box-shadow(inset -25px 0 0 $gray-lighter);

		&.active {
			background-color: #d0d0d0;
			@include transition(background .3s $easing);
			&:before {
				@include transition(top .3s $easing);
				top: -100%;
			}
			&:after {
				@include transition(top .3s $easing);
				top: 3px;
			}
		}
	}

	.cursor {
		@include opacity(0.6);
		display: none;
		position: absolute;
	    top: 94px;
	    right: -20px;
		// top: 14px;
		// right: -10px;
		width: 15px;
		height: 15px;
		background-repeat: no-repeat;
		background-size: 100%;
		background-image: url(data:image/svg+xml;utf8;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iaXNvLTg4NTktMSI/Pgo8IS0tIEdlbmVyYXRvcjogQWRvYmUgSWxsdXN0cmF0b3IgMTkuMC4wLCBTVkcgRXhwb3J0IFBsdWctSW4gLiBTVkcgVmVyc2lvbjogNi4wMCBCdWlsZCAwKSAgLS0+CjxzdmcgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB4bWxuczp4bGluaz0iaHR0cDovL3d3dy53My5vcmcvMTk5OS94bGluayIgdmVyc2lvbj0iMS4xIiBpZD0iTGF5ZXJfMSIgeD0iMHB4IiB5PSIwcHgiIHZpZXdCb3g9IjAgMCA1MTIgNTEyIiBzdHlsZT0iZW5hYmxlLWJhY2tncm91bmQ6bmV3IDAgMCA1MTIgNTEyOyIgeG1sOnNwYWNlPSJwcmVzZXJ2ZSIgd2lkdGg9IjUxMnB4IiBoZWlnaHQ9IjUxMnB4Ij4KPGc+Cgk8Zz4KCQk8cGF0aCBkPSJNMzU1LjA5NSwyODQuNjEyTDUxMiwxODMuMDg3TDAsMGwxODMuMDg1LDUxMmwxMDEuNTI3LTE1Ni45MDVMMzk0LjUzLDQ2NS4wMTNjMTkuNDYzLDE5LjQ2Myw1MS4wMTksMTkuNDYyLDcwLjQ4MywwICAgIGMxOS40NjItMTkuNDYzLDE5LjQ2Mi01MS4wMTksMC03MC40ODNMMzU1LjA5NSwyODQuNjEyeiIgZmlsbD0iIzAwMDAwMCIvPgoJPC9nPgo8L2c+CjxnPgo8L2c+CjxnPgo8L2c+CjxnPgo8L2c+CjxnPgo8L2c+CjxnPgo8L2c+CjxnPgo8L2c+CjxnPgo8L2c+CjxnPgo8L2c+CjxnPgo8L2c+CjxnPgo8L2c+CjxnPgo8L2c+CjxnPgo8L2c+CjxnPgo8L2c+CjxnPgo8L2c+CjxnPgo8L2c+Cjwvc3ZnPgo=)
	}
}

.no-selected-units { margin-top: 50px; }

.panel-heading-text {
	@media (max-width: $screen-xs-max) {
		font-size: $font-size-h5 + 2;
		font-weight: 500;

		.zmdi-chevron-down { font-size: 1.8em; }
	}
	@media (min-width: $screen-sm-min) and (max-width: $screen-sm-max) {
		font-size: $font-size-h5 + 2;
		font-weight: 500;

		.zmdi-chevron-down { font-size: 1.8em; }
	}
	@media (min-width: $screen-md-min) and (max-width: $screen-md-max) {
		font-size: $font-size-h5 + 2;

		.zmdi-chevron-down { font-size: 1.8em; }
	}
	@media (min-width: $screen-lg-min) and (max-width: $screen-lg-max) {
		font-size: $font-size-h4;

		.zmdi-chevron-down { font-size: 1.8em; }
	}
}

.is-desktop, .is-tablet {
	@media (min-width: $screen-sm-min) {
		.message-start-select-desktop { display: block; }
		.message-start-select-mobile { display: none; }
	}
	.alert-max-exceeded, .btn-continue { display: none; }
}

.is-mobile {
	@media (max-width: $screen-xs-max) {
		.unit-count { top: -15px; right: 3px; }
		.panel-selected-units-body {
			border: none !important;
			padding: 0 !important;
		}

		[data-panel-parent="two-column-split"].container-units {
			[data-panel="left"],
			.message-start-select-desktop { display: none; }
		}

		.message-start-select-mobile { 
			display: block;
			margin-top: 15px;
			font-size: 18px;
		}

		.animated-checklist	{
			+ h3:first-letter {
				text-transform: uppercase;
			}
			+ h3 span:first-of-type {
				display: none;
			}
		}
	}
}