@import '../../bootstrap/custom-thumbnails.scss';

$qual-img-width: 220px;
$qual-img-height: 200px;

.panel-qual-heading {
	position: relative;
	@include clearfix();
	background-image: url(../img/bg-onboarding-popup.png);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;
	border-bottom: none;

	.panel-heading {
		position: relative;
		@include clearfix();
	}
	.panel-heading-img {
		display: block;
		position: relative;
	}
}

@media (max-width: $screen-xs-max) {
	@import 'less-than-768.scss';
}

@media (min-width: $screen-sm-min) {
	@import '768.scss';
}

@import 'list-group-units.scss';
@import 'list-group-contacts.scss';
@import 'unit-search.scss';
@import 'sticky-panel.scss';
@import 'panel-upload-evidence.scss';
@import 'panel-selected-units.scss';

.qual-gauges-group {
	padding-top: 15px;
	text-align: center;


	.qual-spacing {
		display: inline-block;
		padding: 5px;
		padding-bottom: 30px;
	}
}

.qual-title {
	font-size: $font-size-h3;
	font-weight: 300;
	color: $gray-dark;

	@media (min-width: $screen-md-min) {
		font-size: $font-size-h1;	
	}
	
}

#contactProfile.modal{
	.close{
		position: absolute;
		right: $grid-gutter-width / 2;
		top: $grid-gutter-width / 2;
	}
	.avatar{
		float: left;
		.btn{
			margin-top: $grid-gutter-width / 4;
		}
	}

	.avatar-name{
		float: left;
		width: calc(100% - 120px);
		padding-left: $grid-gutter-width / 2;
	}

	.avatar-info{
		clear: both;
		
		ul{
			margin-top: 5px;
		}

		li{
			padding: 12px 15px;
			border: 1px solid $gray-lighter;

			i{
				width: 30px;
				display: inline-block;
			}
		}

		li:last-child{
			border-top: none;
		}
	}
}

.panel-contacts {

}

.mTop {
	margin-top: 7px;
	& + .list-group-units { margin-top: 60px; }
	& + .alert { margin-top: 15px; }
}

.is-mobile .hidden-mobile { display: none; }