.popover.compressed {
	width: 290px;
	max-width: 290px;
	min-width: 290px;
	textarea {
		padding: 15px !important;
		border-radius: 0;
	}
	.btn-add-task {
		border-top-left-radius: 0;
		border-top-right-radius: 0;
	}
	.btn-set-date {
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		border-top-right-radius: 0;
		border-bottom-left-radius: 0;
		border-bottom-right-radius: 0;
		border: none;
		width: 75px;
	    border-right: 1px solid #cecece;
	    padding-left: 12px;
	    padding-right: 12px;
	    color: #616161;
	    font-weight: 500;
		@include box-shadow(none);
		@include transition(none);
	}

	.popover-title {
		font-size: 12px !important;
	}

	.task-controls {
		width: 100%;
		height: auto;
		overflow: hidden;

		.datepicker { padding: 10px; }

		[data-init="datepicker"] {
			display: none;
		}
	}

	&.show-date {
		.task-controls {
			textarea {
				display: none;
			}
			[data-init="datepicker"] {
				display: block;
			}
		}
		.btn-set-date {
			left: 0;
			width: 50px;
			overflow: hidden;
			@include transition(none);

			i.zmdi {
				width: 40px;
				padding-right: 13px;
			}
		}
		.popover-title {
			padding-left: 65px;
		}
		.btn-add-task { display: none; }

		[data-action="today"] {
			&:before {
				content: 'Today';
				text-transform: uppercase;
			}
			padding: 7px 12px;
			background-color: $brand-red;
			color: white;
			display: block;
			border-bottom-right-radius: $border-radius-base;
			border-bottom-left-radius: $border-radius-base;
			&:hover {
				cursor: pointer;
				background-color: darken($brand-red,10%);
			}
			text-decoration: none;
			> .glyphicon { display: none; }
		}
	}
}

.popover.left {
	.arrow {
		top: 93px !important;
	}
}