.task-list {
	padding-top: 15px;
	padding-bottom: 15px;
	.nav {
		> li {
			border-bottom: 1px solid $gray-lighter;
			&:first-child { 
				> span {
					padding-top: 0;
				}
			}
			&:last-child { 
				border: none;
				> span {
					padding-bottom: 0;
				}
			}
			@media (max-width: $screen-xs-max) {
				padding: 0 15px;
			}
			@media (min-width: $screen-sm-min) {
				padding: 0 30px;	
			}
			> span {
				font-size: 1.2em;
				color: $text-color;
				display: block;
				padding-bottom: 15px;
				padding-top: 15px;

				&:hover { cursor: pointer; }

				> .zmdi {
					margin-top: 3px;
					@include transform(rotateZ(0deg));
					@include transition(all .6s $easing);
					float: right;
				}
			}

			.list-group {
				display: none;
				margin-bottom: 0;
			}

			.list-group-item { 
				padding-left: 30px;
				border-bottom: none;
				color: $gray;
				line-height: 1.1;
				
				&:before {
					display: block;
					font-family: 'Material-Design-Iconic-Font';
					font-size: 1.4em;
					position: absolute;
					top: 15px;
					left: 0;
				}
				&[data-status="done"]:before { content: '\f269'; color: $brand-green; }
				&[data-status="overdue"]:before { content: '\f26c'; color: $brand-danger; }
				&[data-status="pending"]:before { content: '\f26c'; color: $text-color; }

				small, .overdue { display: block; clear: both; margin-top: 3px; }
			}

			&.active {
				> span .zmdi {
					@include transform(rotateZ(180deg));
					@include transition(all .6s $easing);
				}
				> .list-group {
					display: block;
				}
			}

			&:hover {
				> span { color: $brand-red; }
			}
		}
	}
}