.task-list {
	padding-top: 15px;
	padding-bottom: 15px;
	.nav {
		> li {
			border-bottom: 1px solid $gray-lighter;
			&:first-child { 
				> span {
					padding-top: 0;
				}
			}
			&:last-child { border: none; }
			&:not(.active):last-child > span { padding-bottom: 0; }

			@media (max-width: $screen-xs-max) {
				padding: 0 15px;
			}
			@media (min-width: $screen-sm-min) {
				padding: 0 30px;	
			}
			> span {
				font-size: 1.2em;
				color: $text-color;
				display: block;
				padding-bottom: 15px;
				padding-top: 15px;

				&:hover { cursor: pointer; }

				> .zmdi {
					margin-top: 3px;
					@include transform(rotateZ(0deg));
					@include transition(all .6s $easing);
					float: right;
				}
			}

			&.active {
				> span .zmdi {
					@include transform(rotateZ(180deg));
					@include transition(all .6s $easing);
				}
				> .list-group {
					display: block;
				}
			}

			&:hover {
				> span { color: $brand-red; }
			}
		}
	}

	&.compressed .nav li.list-group-item {
		padding-left: 0;
		padding-right: 0;
	}
}